<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

<head>
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>APAE - SANTOS DUMONT</title>

    <th:block th:replace="fragments/head"/>
</head>

<body class="nav-md">
<div class="container body">
    <div class="main_container">
        <div class="col-md-3 left_col">
            <div class="left_col scroll-view">
                <div class="navbar nav_title" style="border: 0;">
                    <a th:href="@{/welcome}" class="site_title">
                        <span>APAE-SD</span></a>
                </div>

                <div class="clearfix"></div>

                <br/>

                <!-- sidebar menu -->
                <div class="main_menu_side hidden-print main_menu" id="sidebar-menu">
                    <div class="menu_section">
                        <h3>Geral</h3>
                        <ul class="nav side-menu">
                            <li><a><i class="fa fa-home"></i> Secretaria <span class="fa fa-chevron-down"></span></a>
                                <ul class="nav child_menu">
                                    <li><a th:href="@{/usuario/lista}">Usuarios</a></li>
                                    <li><a th:href="@{/resultadoavaliacaogeral/lista}">Resultado de Avaliação Geral</a></li>
                                    <li><a th:href="@{/agenda/lista}">Agenda</a></li>
                                    <li><a th:href="@{/permissao/lista}">Cargos</a></li>
                                    <li><a th:href="@{/matriculaaluno/lista}">Matricula de Aluno</a></li>
                                </ul>
                            </li>
                            <li><a><i class="fa fa-edit"></i> Alunos <span class="fa fa-chevron-down"></span></a>
                                <ul class="nav child_menu">
                                    <li><a th:href="@{/aluno/lista}">Alunos</a></li>
                                </ul>
                            </li>
                            <li><a><i class="fa fa-pinterest-p"></i> Psicologia <span class="fa fa-chevron-down"></span></a>
                                <ul class="nav child_menu">
                                    <li><a th:href="@{/avaliacaopsicologia/lista}">Anamneses de Psicologia</a></li>
                                    <li><a th:href="@{/linhasemanal/lista}">Linha Semanal de Alunos</a></li>
                                    <li><a th:href="@{/agenda/lista}">Agenda</a></li>
                                </ul>
                            </li>
                            <li><a><i class="fa fa-facebook-f"></i> Fonoaudiologia <span class="fa fa-chevron-down"></span></a>
                                <ul class="nav child_menu">
                                    <li><a th:href="@{/triagemfonoaudiologia/lista}">Anamneses de Fonoaudiologia</a></li>
                                    <li><a th:href="@{/linhasemanal/lista}">Linha Semanal de Alunos</a></li>
                                    <li><a th:href="@{/agenda/lista}">Agenda</a></li>
                                </ul>
                            </li>
                            <li><a><i class="fa fa-fonticons"></i> Fisioterapia <span class="fa fa-chevron-down"></span></a>
                                <ul class="nav child_menu">
                                    <li><a th:href="@{/avaliacaofisioterapia/lista}">Anamneses de Fisioterapia</a></li>
                                    <li><a th:href="@{/linhasemanal/lista}">Linha Semanal de Alunos</a></li>
                                    <li><a th:href="@{/agenda/lista}">Agenda</a></li>
                                </ul>
                            </li>
                            <li><a><i class="fa fa-scribd"></i> Servico Social <span class="fa fa-chevron-down"></span></a>
                                <ul class="nav child_menu">
                                    <li><a th:href="@{/linhasemanal/lista}">Linha Semanal de Alunos</a></li>
                                    <li><a th:href="@{/agenda/lista}">Agenda</a></li>
                                </ul>
                            </li>
                            <li><a><i class="fa fa-dropbox"></i> Tesouraria <span class="fa fa-chevron-down"></span></a>
                                <ul class="nav child_menu">
                                    <li><a th:href="@{/produto/lista}">Produtos</a></li>
                                </ul>
                            </li>
                            <li><a><i class="fa fa-close"></i> Desconectar <span class="fa fa-chevron-down"></span></a>
                                <ul class="nav child_menu">
                                    <li><a th:href="@{/logout}">Desconectar</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
                <!-- sidebar menu -->
                <div th:replace="fragments/sidebar"></div>
                <!-- /sidebar menu -->
            </div>
        </div>

        <!-- top navigation -->
        <div th:replace="fragments/navbar"></div>
        <!-- /top navigation -->

        <!-- page content -->
        <div class="right_col" role="main">
            <!-- top tiles -->

            <div class="tile_count">
                <div class="col-md-2 col-sm-4  tile_stats_count">

                </div>
                <div class="col-md-2 col-sm-4  tile_stats_count">

                </div>
                <div class="col-md-2 col-sm-4  tile_stats_count">

                </div>
                <div class="col-md-2 col-sm-4  tile_stats_count">

                </div>
                <div class="col-md-2 col-sm-4  tile_stats_count">

                </div>
                <div class="col-md-2 col-sm-4  tile_stats_count">

                </div>
            </div>

            <div class="right_col" role="main">
                <div class="">
                    <div class="page-title">
                        <div class="title_left">
                            <h3>Cadastro de Usuário</h3>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <div class="row">
                        <div class="col-md-12 col-sm-12">
                            <div class="x_panel">

                                <div class="x_content">
                                    <form class="form-horizontal form-label-left" method="post" novalidate
                                          th:object="${edit}" th:action="@{/usuario/edit}" >
                                        <input th:field="*{id}" type="hidden"/>

                                        <div class="alert alert-danger" th:if="${#fields.hasAnyErrors()}">
                                            <div th:each="detailedError : ${#fields.detailedErrors()}">
                                                <span th:text="${detailedError.message}"></span>
                                            </div>
                                        </div>

                                        <div class="item form-group">
                                            <label class="col-form-label col-md-3 col-sm-3 label-align" for="nome">Nome <span
                                                    class="required">*</span>
                                            </label>
                                            <div class="col-md-6 col-sm-6">
                                                <input class="form-control" data-validate-minmax="6,32" id="nome" name="nome"
                                                       placeholder="Informe o nome" required="required" th:field="*{nome}" type="text">
                                            </div>
                                        </div>
                                        <div class="item form-group">
                                            <label class="col-form-label col-md-3 col-sm-3 label-align" for="idade">Idade <span
                                                    class="required">*</span>
                                            </label>
                                            <div class="col-md-6 col-sm-6">
                                                <input class="form-control" id="idade" name="idade" placeholder="Informe a idade"
                                                       required="required"
                                                       th:field="*{idade}" type="number">
                                            </div>
                                        </div>

                                        <div class="item form-group">
                                            <label class="col-form-label col-md-3 col-sm-3 label-align" for="sexou">Sexo:<span
                                                    class="required">*</span>
                                            </label>
                                            <div class="col-md-6 col-sm-6">
                                                <select class="form-control" id="sexou"
                                                        required="required"
                                                        th:field="*{sexo}">
                                                    <option value="Masculino">Masculino</option>
                                                    <option value="Feminino">Feminino</option>
                                                    <option value="Outro">Outro</option>
                                                </select>
                                            </div>
                                        </div>

                                        <div class="item form-group">
                                            <label class="col-form-label col-md-3 col-sm-3 label-align" for="dataNascimento">Data de
                                                Nascimento <span class="required">*</span>
                                            </label>
                                            <div class="col-md-6 col-sm-6">
                                                <input class="form-control" id="dataNascimento" name="dataNascimento"
                                                       placeholder="Informe a Data de Nascimento"
                                                       required="required" th:field="*{dataNascimento}" type="date">
                                            </div>
                                        </div>
                                        <div class="item form-group">
                                            <label class="col-form-label col-md-3 col-sm-3 label-align" for="uf">UF<span
                                                    class="required">*</span>
                                            </label>
                                            <div class="col-md-6 col-sm-6">
                                                <input class="form-control" id="uf" name="uf" placeholder="Informe a UF" required="required"
                                                       th:field="*{uf}" type="text">
                                            </div>
                                        </div>
                                        <div class="item form-group">
                                            <label class="col-form-label col-md-3 col-sm-3 label-align" for="cidade">Cidade<span
                                                    class="required">*</span>
                                            </label>
                                            <div class="col-md-6 col-sm-6">
                                                <input class="form-control" id="cidade" name="cidade" placeholder="Informe a Cidade"
                                                       required="required"
                                                       th:field="*{cidade}" type="text">
                                            </div>
                                        </div>
                                        <div class="item form-group">
                                            <label class="col-form-label col-md-3 col-sm-3 label-align" for="rua">Rua<span class="required">*</span>
                                            </label>
                                            <div class="col-md-6 col-sm-6">
                                                <input class="form-control" id="rua" name="rua" placeholder="Informe a Rua"
                                                       required="required"
                                                       th:field="*{rua}" type="text">
                                            </div>
                                        </div>
                                        <div class="item form-group">
                                            <label class="col-form-label col-md-3 col-sm-3 label-align" for="numero">Número<span
                                                    class="required">*</span>
                                            </label>
                                            <div class="col-md-6 col-sm-6">
                                                <input class="form-control" id="numero" name="numero" placeholder="Informe o Número"
                                                       required="required"
                                                       th:field="*{numero}" type="text">
                                            </div>
                                        </div>
                                        <div class="item form-group">
                                            <label class="col-form-label col-md-3 col-sm-3 label-align" for="bairro">Bairro<span
                                                    class="required">*</span>
                                            </label>
                                            <div class="col-md-6 col-sm-6">
                                                <input class="form-control" id="bairro" name="bairro" placeholder="Informe o Bairro"
                                                       required="required"
                                                       th:field="*{bairro}" type="text">
                                            </div>
                                        </div>
                                        <div class="item form-group">
                                            <label class="col-form-label col-md-3 col-sm-3 label-align" for="cep">CEP<span class="required">*</span>
                                            </label>
                                            <div class="col-md-6 col-sm-6">
                                                <input class="form-control" id="cep" name="cep" placeholder="Informe o CEP"
                                                       required="required"
                                                       th:field="*{cep}" type="text">
                                            </div>
                                        </div>
                                        <div class="item form-group">
                                            <label class="col-form-label col-md-3 col-sm-3 label-align" for="telefone">Telefone<span
                                                    class="required">*</span>
                                            </label>
                                            <div class="col-md-6 col-sm-6">
                                                <input class="form-control" id="telefone" name="telefone" placeholder="Informe o Telefone"
                                                       required="required"
                                                       th:field="*{telefone}" type="text">
                                            </div>
                                        </div>
                                        <div class="item form-group">
                                            <label class="col-form-label col-md-3 col-sm-3 label-align" for="celular">Celular<span
                                                    class="required">*</span>
                                            </label>
                                            <div class="col-md-6 col-sm-6">
                                                <input class="form-control" id="celular" name="celular" placeholder="Informe o Celular"
                                                       required="required"
                                                       th:field="*{celular}" type="text">
                                            </div>
                                        </div>
                                        <div class="item form-group">
                                            <label class="col-form-label col-md-3 col-sm-3 label-align" for="nomeUsuario">Nome de
                                                Usuario<span class="required">*</span>
                                            </label>
                                            <div class="col-md-6 col-sm-6">
                                                <input class="form-control" id="nomeUsuario" name="nomeUsuario"
                                                       placeholder="Informe o nome do usuário"
                                                       required="required" th:field="*{nomeUsuario}" type="text">
                                            </div>
                                        </div>

                                        <div class="item form-group">
                                            <label class="col-form-label col-md-3 label-align" for="senha">Senha(Não pode ser editada)</label>
                                            <div class="col-md-6 col-sm-6">
                                                <input class="form-control" data-validate-length="6,32" id="senha" name="senha"
                                                       placeholder="Informe a Senha" required="required" th:field="*{senha}"
                                                       type="hidden">
                                            </div>
                                        </div>
                                        <div class="item form-group">
                                            <label class="col-form-label col-md-3 col-sm-3 label-align" for="email">Email <span
                                                    class="required">*</span>
                                            </label>
                                            <div class="col-md-6 col-sm-6">
                                                <input class="form-control" data-validate-linked="email" id="email" name="email"
                                                       placeholder="Informe o e-mail"
                                                       required="required" th:field="*{email}" type="email">
                                            </div>
                                        </div>
                                        <div class="item form-group">
                                            <label class="col-form-label col-md-3 col-sm-3 label-align" for="comboPermissao">Profissão <span
                                                    class="required">*</span>
                                            </label>
                                            <div class="col-md-6 col-sm-6">
                                                <select class="form-control" id="comboPermissao" required="required"
                                                        th:field="*{permissao}">
                                                    <option th:each="permissao : ${tiposPermissoes}"
                                                            th:text="${permissao.permissao}"
                                                            th:value="${permissao.id}"></option>
                                                </select>
                                            </div>
                                        <div class="ln_solid"></div>
                                        <div class="form-group">
                                            <div class="col-md-6 offset-md-3">
                                                <button class="btn btn-success" id="send" type="submit">Salvar</button>
                                                <a class="btn btn-danger" th:href="@{/usuario/lista}">Cancelar</a>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <footer>
                <div th:replace="fragments/footer :: footer"></div>
            </footer>
            <!-- /footer content -->
        </div>
    </div>

    <!--scripts-->
    <th:block th:replace="fragments/scripts"/>
    <!-- /scripts-->
</div>
</body>
</html>