<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
>

<head>
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>APAE - SANTOS DUMONT</title>

    <th:block th:replace="fragments/head"/>
</head>

<body class="nav-md">
<div class="container body">
    <div class="main_container">
        <div class="col-md-3 left_col">
            <div class="left_col scroll-view">
                <div class="navbar nav_title" style="border: 0;">
                    <a th:href="@{/welcome}" class="site_title">
                        <span>APAE-SD</span></a>
                </div>

                <div class="clearfix"></div>

                <br/>

                <!-- sidebar menu -->
                <div th:replace="fragments/sidebar"></div>
                <!-- /sidebar menu -->
            </div>
        </div>

        <!-- top navigation -->
        <div th:replace="fragments/navbar"></div>
        <!-- /top navigation -->

        <!-- page content -->
        <div class="right_col" role="main">
            <!-- top tiles -->

            <div class="tile_count">
                <div class="col-md-2 col-sm-4  tile_stats_count">

                </div>
                <div class="col-md-2 col-sm-4  tile_stats_count">

                </div>
                <div class="col-md-2 col-sm-4  tile_stats_count">

                </div>
                <div class="col-md-2 col-sm-4  tile_stats_count">

                </div>
                <div class="col-md-2 col-sm-4  tile_stats_count">

                </div>
                <div class="col-md-2 col-sm-4  tile_stats_count">

                </div>
            </div>
            <!-- page content -->
            <div class="right_col" role="main">
                <div class="row">
                    <div class="col-md-12 col-sm-12 ">
                        <div class="dashboard_graph">
                            <div class="limiter">
                                <div class="container-login100">
                                    <div class="wrap-login100 p-l-85 p-r-85 p-t-55 p-b-55">
                                        <!-- pode apagar acima-->
                                        <section class="box-intro">
                                            <div class="table-cell">
                                                <div class="card-header" style="padding-top: 90px">
                                                    <a class="btn btn-primary" style="font-size: medium"
                                                       th:href="@{/agenda/add}">Cadastrar Agendamento</a>
                                                </div>
                                                <br/> <strong>Filtro</strong> <br/> <br/>
                                                <form class="form-horizontal" method="GET"
                                                      style="margin: 10px" th:action="@{'/agenda/lista'}" th:object="${current}">
                                                    <table
                                                            class="table table-sm table-striped table-hover table-bordered">
                                                        <tr>
                                                            <td><label>Nome do aluno:</label> <input th:field="*{aluno.nome}"
                                                                                                     type="text"/></td>
                                                        </tr>
                                                        <tr>
                                                            <td><label>Nome do Profissional:</label> <input type="text"
                                                                                                            th:field="*{usuario.nome}"/></td>
                                                        </tr>
                                                        <tr>
                                                            <td>
                                                                <button class="btn btn-sm btn-primary" type="submit">Buscar</button>
                                                            </td>
                                                        </tr>
                                                    </table>
                                                </form>
                                                <div class="container">
                                                    <div>
                                                        <h2>Agendamentos</h2>
                                                        <table class="table table-striped table-bordered"
                                                               id="datatable-keytable">
                                                            <tr>
                                                                <th>Código</th>
                                                                <th>Aluno</th>
                                                                <th>Nome Profissional</th>
                                                                <th>Ações</th>
                                                            </tr>
                                                            <tr th:each=" agenda: ${agendas}"
                                                                th:if="${not #lists.isEmpty(agenda)}">
                                                                <td th:text="${agenda.id}"></td>
                                                                <td th:text="${agenda.aluno.nome}"></td>
                                                                <td th:text="${agenda.usuario.nome}"></td>
                                                                <td>
                                                                    <a class="btn btn-outline-primary"
                                                                       th:href="@{'/agendas/edit/' + ${agenda.id}}">Editar</a>
                                                                    <a class="btn btn-success"
                                                                       th:href="@{'/agenda/delete/' + ${agenda.id}}">Excluir</a>
                                                                    <a class="btn btn-warning"
                                                                       th:href="@{'/agenda/view/' + ${agenda.id}}">Visualizar</a>
                                                                </td>
                                                            </tr>
                                                        </table>
                                                    </div>
                                                </div>
                                            </div>
                                        </section>
                                    </div>
                                    <!-- pode apagar abaixo-->
                                </div>
                            </div>
                            <!-- /page content -->
                        </div>
                    </div>
                </div>
            </div>

            <footer>
                <div th:replace="fragments/footer :: footer"></div>
            </footer>
            <!-- /footer content -->
        </div>
    </div>
</div>

<!--scripts-->
<th:block th:replace="fragments/scripts"/>
<!-- /scripts-->

</body>
</html>