<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

<head>
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>APAE - SANTOS DUMONT</title>

    <th:block th:replace="fragments/head"/>
</head>

<body class="nav-md">
<div class="container body">
    <div class="main_container">
        <div class="col-md-3 left_col">
            <div class="left_col scroll-view">
                <div class="navbar nav_title" style="border: 0;">
                    <a th:href="@{/welcome}" class="site_title">
                        <span>APAE-SD</span></a>
                </div>

                <div class="clearfix"></div>

                <br/>

                <!-- sidebar menu -->
                <div th:replace="fragments/sidebar"></div>
                <!-- /sidebar menu -->
            </div>
        </div>

        <!-- top navigation -->
        <div th:replace="fragments/navbar"></div>
        <!-- /top navigation -->

        <!-- page content -->
        <div class="right_col" role="main">
            <!-- top tiles -->

            <div class="tile_count">
                <div class="col-md-2 col-sm-4  tile_stats_count">

                </div>
                <div class="col-md-2 col-sm-4  tile_stats_count">

                </div>
                <div class="col-md-2 col-sm-4  tile_stats_count">

                </div>
                <div class="col-md-2 col-sm-4  tile_stats_count">

                </div>
                <div class="col-md-2 col-sm-4  tile_stats_count">

                </div>
                <div class="col-md-2 col-sm-4  tile_stats_count">

                </div>
            </div>

            <div class="right_col" role="main">
                <div class="">
                    <div class="page-title">
                        <div class="title_left">
                            <h3>Anamnese Fisioterapia</h3>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <div class="row">
                        <div class="col-md-12 col-sm-12">
                            <div class="x_panel">

                                <div class="x_content">
                                    <form class="form-horizontal form-label-left" method="post" novalidate
                                          th:action="@{'/avaliacaofisioterapia/add'}" th:object="${current}">
                                        <input th:field="*{id}" type="hidden"/>

                                        <div class="alert alert-danger" th:if="${#fields.hasAnyErrors()}">
                                            <div th:each="detailedError : ${#fields.detailedErrors()}">
                                                <span th:text="${detailedError.message}"></span>
                                            </div>
                                        </div>

                                        <div class="item form-group">
                                            <label class="col-form-label col-md-3 col-sm-3 label-align"
                                                   for="comboAluno">Aluno:<span
                                                    class="required">*</span>
                                            </label>
                                            <div class="col-md-6 col-sm-6">
                                                <select class="form-control" id="comboAluno" required="required"
                                                        th:field="*{aluno}">
                                                    <option th:each="aluno : ${tiposAlunos}"
                                                            th:text="${aluno.nome}"
                                                            th:value="${aluno.id}"></option>
                                                </select>
                                            </div>
                                        </div>

                                        <div class="item form-group">
                                            <label class="col-form-label col-md-3 col-sm-3 label-align"
                                                   for="comboAluno">Psicologa:<span
                                                    class="required">*</span>
                                            </label>
                                            <div class="col-md-6 col-sm-6">
                                                <select class="form-control" id="comboPsicologa" required="required"
                                                        th:field="*{usuario}">
                                                    <option th:each="usuario : ${tiposUsuarios}"
                                                            th:text="${usuario.nome}"
                                                            th:value="${usuario.id}"></option>
                                                </select>
                                            </div>
                                        </div>

                                        <div class="item form-group">
                                            <label class="col-form-label col-md-3 col-sm-3 label-align"
                                                   for="dataavaliacao">Data da Avaliação:<span
                                                    class="required">*</span>
                                            </label>
                                            <div class="col-md-6 col-sm-6">
                                                <input class="form-control" id="dataavaliacao"
                                                       th:field="*{dataAvaliacao}" type="date">
                                            </div>
                                        </div>

                                        <div class="item form-group">
                                            <label class="col-form-label col-md-3 col-sm-3 label-align" for="comboexpressao">Expressão Facial:<span
                                                        class="required">*</span>
                                            </label>
                                            <div class="col-md-6 col-sm-6">
                                                <select class="form-control" id="comboexpressao" required="required"
                                                        th:field="*{expressaoFacial}">
                                                    <option value="Normal">Normal</option>
                                                    <option value="Anormal">Anormal</option>
                                                    <option value="Não Testado">Não Testado</option>
                                                </select>
                                            </div>
                                        </div>

                                        <div class="item form-group">
                                            <label class="col-form-label col-md-3 col-sm-3 label-align"
                                                   for="observacaoexpressao">Observação:<span
                                                    class="required">*</span>
                                            </label>
                                            <div class="col-md-6 col-sm-6">
                                                <input class="form-control" id="observacaoexpressao"
                                                       th:field="*{observacaoExpressaoFacial}" type="text">
                                            </div>
                                        </div>

                                        <div class="item form-group">
                                            <label class="col-form-label col-md-3 col-sm-3 label-align" for="comboatividadereflexa">Atividade Reflexa:<span
                                                    class="required">*</span>
                                            </label>
                                            <div class="col-md-6 col-sm-6">
                                                <select class="form-control" id="comboatividadereflexa" required="required"
                                                        th:field="*{atividadeReflexa}">
                                                    <option value="Normal">Normal</option>
                                                    <option value="Anormal">Anormal</option>
                                                    <option value="Não Testado">Não Testado</option>
                                                </select>
                                            </div>
                                        </div>

                                        <div class="item form-group">
                                            <label class="col-form-label col-md-3 col-sm-3 label-align"
                                                   for="observacaoatividadereflexa">Observação:<span
                                                    class="required">*</span>
                                            </label>
                                            <div class="col-md-6 col-sm-6">
                                                <input class="form-control" id="observacaoatividadereflexa"
                                                       th:field="*{observacaoAtividadeReflexa}" type="text">
                                            </div>
                                        </div>

                                        <div class="item form-group">
                                            <label class="col-form-label col-md-3 col-sm-3 label-align" for="comboestimulacaodigital">Resposta á Estimulação Digital:<span
                                                    class="required">*</span>
                                            </label>
                                            <div class="col-md-6 col-sm-6">
                                                <select class="form-control" id="comboestimulacaodigital" required="required"
                                                        th:field="*{respostaEstimulacaoDigital}">
                                                    <option value="Normal">Normal</option>
                                                    <option value="Anormal">Anormal</option>
                                                    <option value="Não Testado">Não Testado</option>
                                                </select>
                                            </div>
                                        </div>

                                        <div class="item form-group">
                                            <label class="col-form-label col-md-3 col-sm-3 label-align"
                                                   for="observacaoestimulacao">Observação:<span
                                                    class="required">*</span>
                                            </label>
                                            <div class="col-md-6 col-sm-6">
                                                <input class="form-control" id="observacaoestimulacao"
                                                       th:field="*{observacaoRespostaEstimulacaoDigital}" type="text">
                                            </div>
                                        </div>

                                        <div class="item form-group">
                                            <label class="col-form-label col-md-3 col-sm-3 label-align" for="combosugar">Obtenção de Alimentos: Sugar:<span
                                                    class="required">*</span>
                                            </label>
                                            <div class="col-md-6 col-sm-6">
                                                <select class="form-control" id="combosugar" required="required"
                                                        th:field="*{obtencaoAlimentosSugar}">
                                                    <option value="Normal">Normal</option>
                                                    <option value="Anormal">Anormal</option>
                                                    <option value="Não Testado">Não Testado</option>
                                                </select>
                                            </div>
                                        </div>

                                        <div class="item form-group">
                                            <label class="col-form-label col-md-3 col-sm-3 label-align"
                                                   for="observacaosugar">Observação:<span
                                                    class="required">*</span>
                                            </label>
                                            <div class="col-md-6 col-sm-6">
                                                <input class="form-control" id="observacaosugar"
                                                       th:field="*{observacaoObtencaoAlimentosSugar}" type="text">
                                            </div>
                                        </div>

                                        <div class="item form-group">
                                            <label class="col-form-label col-md-3 col-sm-3 label-align" for="combobeber">Obtenção de Alimentos: Beber(sorver):<span
                                                    class="required">*</span>
                                            </label>
                                            <div class="col-md-6 col-sm-6">
                                                <select class="form-control" id="combobeber" required="required"
                                                        th:field="*{obtencaoAlimentosBeber}">
                                                    <option value="Normal">Normal</option>
                                                    <option value="Anormal">Anormal</option>
                                                    <option value="Não Testado">Não Testado</option>
                                                </select>
                                            </div>
                                        </div>

                                        <div class="item form-group">
                                            <label class="col-form-label col-md-3 col-sm-3 label-align"
                                                   for="observacaobeber">Observação:<span
                                                    class="required">*</span>
                                            </label>
                                            <div class="col-md-6 col-sm-6">
                                                <input class="form-control" id="observacaobeber"
                                                       th:field="*{observacaoObtencaoAlimentosBeber}" type="text">
                                            </div>
                                        </div>

                                        <div class="item form-group">
                                            <label class="col-form-label col-md-3 col-sm-3 label-align" for="combocolher">Obtenção de Alimentos: Colher:<span
                                                    class="required">*</span>
                                            </label>
                                            <div class="col-md-6 col-sm-6">
                                                <select class="form-control" id="combocolher" required="required"
                                                        th:field="*{obtencaoAlimentosColher}">
                                                    <option value="Normal">Normal</option>
                                                    <option value="Anormal">Anormal</option>
                                                    <option value="Não Testado">Não Testado</option>
                                                </select>
                                            </div>
                                        </div>

                                        <div class="item form-group">
                                            <label class="col-form-label col-md-3 col-sm-3 label-align"
                                                   for="observacaocolher">Observação:<span
                                                    class="required">*</span>
                                            </label>
                                            <div class="col-md-6 col-sm-6">
                                                <input class="form-control" id="observacaocolher"
                                                       th:field="*{observacaoObtencaoAlimentosColher}" type="text">
                                            </div>
                                        </div>


                                        <div class="item form-group">
                                            <label class="col-form-label col-md-3 col-sm-3 label-align" for="combocanudo">Obtenção de Alimentos: Canudo:<span
                                                    class="required">*</span>
                                            </label>
                                            <div class="col-md-6 col-sm-6">
                                                <select class="form-control" id="combocanudo" required="required"
                                                        th:field="*{obtencaoAlimentosCanudo}">
                                                    <option value="Normal">Normal</option>
                                                    <option value="Anormal">Anormal</option>
                                                    <option value="Não Testado">Não Testado</option>
                                                </select>
                                            </div>
                                        </div>

                                        <div class="item form-group">
                                            <label class="col-form-label col-md-3 col-sm-3 label-align"
                                                   for="observacaocanudo">Observação:<span
                                                    class="required">*</span>
                                            </label>
                                            <div class="col-md-6 col-sm-6">
                                                <input class="form-control" id="observacaocanudo"
                                                       th:field="*{observacaoObtencaoAlimentosCanudo}" type="text">
                                            </div>
                                        </div>

                                        <div class="item form-group">
                                            <label class="col-form-label col-md-3 col-sm-3 label-align" for="combodeglutir">Obtenção de Alimentos: Deglutir:<span
                                                    class="required">*</span>
                                            </label>
                                            <div class="col-md-6 col-sm-6">
                                                <select class="form-control" id="combodeglutir" required="required"
                                                        th:field="*{obtencaoAlimentosDeglutir}">
                                                    <option value="Normal">Normal</option>
                                                    <option value="Anormal">Anormal</option>
                                                    <option value="Não Testado">Não Testado</option>
                                                </select>
                                            </div>
                                        </div>

                                        <div class="item form-group">
                                            <label class="col-form-label col-md-3 col-sm-3 label-align"
                                                   for="observacaodeglutir">Observação:<span
                                                    class="required">*</span>
                                            </label>
                                            <div class="col-md-6 col-sm-6">
                                                <input class="form-control" id="observacaodeglutir"
                                                       th:field="*{observacaoObtencaoAlimentosDeglutir}" type="text">
                                            </div>
                                        </div>

                                        <div class="item form-group">
                                            <label class="col-form-label col-md-3 col-sm-3 label-align" for="combomastigar">Obtenção de Alimentos: Mastigar:<span
                                                    class="required">*</span>
                                            </label>
                                            <div class="col-md-6 col-sm-6">
                                                <select class="form-control" id="combomastigar" required="required"
                                                        th:field="*{obtencaoAlimentosMastigar}">
                                                    <option value="Normal">Normal</option>
                                                    <option value="Anormal">Anormal</option>
                                                    <option value="Não Testado">Não Testado</option>
                                                </select>
                                            </div>
                                        </div>

                                        <div class="item form-group">
                                            <label class="col-form-label col-md-3 col-sm-3 label-align"
                                                   for="observacaomastigar">Observação:<span
                                                    class="required">*</span>
                                            </label>
                                            <div class="col-md-6 col-sm-6">
                                                <input class="form-control" id="observacaomastigar"
                                                       th:field="*{observacaoObtencaoAlimentosMastigar}" type="text">
                                            </div>
                                        </div>

                                        <div class="item form-group">
                                            <label class="col-form-label col-md-3 col-sm-3 label-align" for="comboposicionamento">Obtenção de Alimentos: Posicionamento:<span
                                                    class="required">*</span>
                                            </label>
                                            <div class="col-md-6 col-sm-6">
                                                <select class="form-control" id="comboposicionamento" required="required"
                                                        th:field="*{obtencaoAlimentosPosicionamento}">
                                                    <option value="Normal">Normal</option>
                                                    <option value="Anormal">Anormal</option>
                                                    <option value="Não Testado">Não Testado</option>
                                                </select>
                                            </div>
                                        </div>

                                        <div class="item form-group">
                                            <label class="col-form-label col-md-3 col-sm-3 label-align" for="combodenticacao">Dentição:<span
                                                    class="required">*</span>
                                            </label>
                                            <div class="col-md-6 col-sm-6">
                                                <select class="form-control" id="combodenticacao" required="required"
                                                        th:field="*{obtencaoAlimentosSugar}">
                                                    <option value="Normal">Normal</option>
                                                    <option value="Anormal">Anormal</option>
                                                    <option value="Não Testado">Não Testado</option>
                                                </select>
                                            </div>
                                        </div>

                                        <div class="item form-group">
                                            <label class="col-form-label col-md-3 col-sm-3 label-align"
                                                   for="observacaodenticao">Observação:<span
                                                    class="required">*</span>
                                            </label>
                                            <div class="col-md-6 col-sm-6">
                                                <input class="form-control" id="observacaodenticao"
                                                       th:field="*{observacaoObtencaoAlimentosSugar}" type="text">
                                            </div>
                                        </div>

                                        <div class="item form-group">
                                            <label class="col-form-label col-md-3 col-sm-3 label-align" for="combomandibula">Mandíbula:<span
                                                    class="required">*</span>
                                            </label>
                                            <div class="col-md-6 col-sm-6">
                                                <select class="form-control" id="combomandibula" required="required"
                                                        th:field="*{mandibula}">
                                                    <option value="Normal">Normal</option>
                                                    <option value="Anormal">Anormal</option>
                                                    <option value="Não Testado">Não Testado</option>
                                                </select>
                                            </div>
                                        </div>

                                        <div class="item form-group">
                                            <label class="col-form-label col-md-3 col-sm-3 label-align"
                                                   for="observacaomandibula">Observação:<span
                                                    class="required">*</span>
                                            </label>
                                            <div class="col-md-6 col-sm-6">
                                                <input class="form-control" id="observacaomandibula"
                                                       th:field="*{observacaoManbidula}" type="text">
                                            </div>
                                        </div>

                                        <div class="item form-group">
                                            <label class="col-form-label col-md-3 col-sm-3 label-align" for="combolabios">Lábios:<span
                                                    class="required">*</span>
                                            </label>
                                            <div class="col-md-6 col-sm-6">
                                                <select class="form-control" id="combolabios" required="required"
                                                        th:field="*{labios}">
                                                    <option value="Normal">Normal</option>
                                                    <option value="Anormal">Anormal</option>
                                                    <option value="Não Testado">Não Testado</option>
                                                </select>
                                            </div>
                                        </div>

                                        <div class="item form-group">
                                            <label class="col-form-label col-md-3 col-sm-3 label-align"
                                                   for="observacaolabios">Observação:<span
                                                    class="required">*</span>
                                            </label>
                                            <div class="col-md-6 col-sm-6">
                                                <input class="form-control" id="observacaolabios"
                                                       th:field="*{observacaoLabios}" type="text">
                                            </div>
                                        </div>

                                        <div class="item form-group">
                                            <label class="col-form-label col-md-3 col-sm-3 label-align" for="combolingua">Língua:<span
                                                    class="required">*</span>
                                            </label>
                                            <div class="col-md-6 col-sm-6">
                                                <select class="form-control" id="combolingua" required="required"
                                                        th:field="*{lingua}">
                                                    <option value="Normal">Normal</option>
                                                    <option value="Anormal">Anormal</option>
                                                    <option value="Não Testado">Não Testado</option>
                                                </select>
                                            </div>
                                        </div>

                                        <div class="item form-group">
                                            <label class="col-form-label col-md-3 col-sm-3 label-align"
                                                   for="observacaolingua">Observação:<span
                                                    class="required">*</span>
                                            </label>
                                            <div class="col-md-6 col-sm-6">
                                                <input class="form-control" id="observacaolingua"
                                                       th:field="*{observacaoLingua}" type="text">
                                            </div>
                                        </div>

                                        <div class="item form-group">
                                            <label class="col-form-label col-md-3 col-sm-3 label-align" for="comborespiracao">Respiração:<span
                                                    class="required">*</span>
                                            </label>
                                            <div class="col-md-6 col-sm-6">
                                                <select class="form-control" id="comborespiracao" required="required"
                                                        th:field="*{respiracao}">
                                                    <option value="Normal">Normal</option>
                                                    <option value="Anormal">Anormal</option>
                                                    <option value="Não Testado">Não Testado</option>
                                                </select>
                                            </div>
                                        </div>

                                        <div class="item form-group">
                                            <label class="col-form-label col-md-3 col-sm-3 label-align"
                                                   for="observacaorespiracao">Observação:<span
                                                    class="required">*</span>
                                            </label>
                                            <div class="col-md-6 col-sm-6">
                                                <input class="form-control" id="observacaorespiracao"
                                                       th:field="*{observacaoRespiracao}" type="text">
                                            </div>
                                        </div>

                                        <div class="item form-group">
                                            <label class="col-form-label col-md-3 col-sm-3 label-align" for="combovoz">Voz:<span
                                                    class="required">*</span>
                                            </label>
                                            <div class="col-md-6 col-sm-6">
                                                <select class="form-control" id="combovoz" required="required"
                                                        th:field="*{voz}">
                                                    <option value="Normal">Normal</option>
                                                    <option value="Anormal">Anormal</option>
                                                    <option value="Não Testado">Não Testado</option>
                                                </select>
                                            </div>
                                        </div>

                                        <div class="item form-group">
                                            <label class="col-form-label col-md-3 col-sm-3 label-align"
                                                   for="observacaovoz">Observação:<span
                                                    class="required">*</span>
                                            </label>
                                            <div class="col-md-6 col-sm-6">
                                                <input class="form-control" id="observacaovoz"
                                                       th:field="*{observacaoVoz}" type="text">
                                            </div>
                                        </div>

                                        <div class="item form-group">
                                            <label class="col-form-label col-md-3 col-sm-3 label-align"
                                                   for="articulacao">Articulacao:<span
                                                    class="required">*</span>
                                            </label>
                                            <div class="col-md-6 col-sm-6">
                                                <input class="form-control" id="articulacao"
                                                       th:field="*{articulacao}" type="text">
                                            </div>
                                        </div>

                                        <div class="item form-group">
                                            <label class="col-form-label col-md-3 col-sm-3 label-align"
                                                   for="comunicacao">Comunicação:<span
                                                    class="required">*</span>
                                            </label>
                                            <div class="col-md-6 col-sm-6">
                                                <input class="form-control" id="comunicacao"
                                                       th:field="*{comunicacao}" type="text">
                                            </div>
                                        </div>

                                        <div class="item form-group">
                                            <label class="col-form-label col-md-3 col-sm-3 label-align"
                                                   for="linguagemcompreensao">Linguagem/ Compreensão/ Audibilidade:<span
                                                    class="required">*</span>
                                            </label>
                                            <div class="col-md-6 col-sm-6">
                                                <input class="form-control" id="linguagemcompreensao"
                                                       th:field="*{linguagemCompreensaoAudibilidade}" type="text">
                                            </div>
                                        </div>

                                        <div class="item form-group">
                                            <label class="col-form-label col-md-3 col-sm-3 label-align"
                                                   for="conclusao">Conclusão:<span
                                                    class="required">*</span>
                                            </label>
                                            <div class="col-md-6 col-sm-6">
                                                <input class="form-control" id="conclusao"
                                                       th:field="*{conclusao}" type="text">
                                            </div>
                                        </div>

                                        <div class="item form-group">
                                            <label class="col-form-label col-md-3 col-sm-3 label-align"
                                                   for="procedimentosRecomendados">Procedimentos Recomendados:<span
                                                    class="required">*</span>
                                            </label>
                                            <div class="col-md-6 col-sm-6">
                                                <input class="form-control" id="procedimentosRecomendados"
                                                       th:field="*{procedimentosRecomendados}" type="text">
                                            </div>
                                        </div>

                                        <div class="item form-group">
                                            <label class="col-form-label col-md-3 col-sm-3 label-align"
                                                   for="pontospositivos">3 Pontos Positivos:<span
                                                    class="required">*</span>
                                            </label>
                                            <div class="col-md-6 col-sm-6">
                                                <input class="form-control" id="pontospositivos"
                                                       th:field="*{pontosPositivos}" type="text">
                                            </div>
                                        </div>

                                        <div class="ln_solid"></div>
                                        <div class="form-group">
                                            <div class="col-md-6 offset-md-3">
                                                <button class="btn btn-success" id="send" type="submit">Salvar</button>
                                                <a class="btn btn-danger" th:href="@{/avaliacaofisioterapia/lista}">Cancelar</a>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <footer>
                <div th:replace="fragments/footer :: footer"></div>
            </footer>
            <!-- /footer content -->
        </div>
    </div>

    <!--scripts-->
    <th:block th:replace="fragments/scripts"/>
    <!-- /scripts-->
</div>
</body>
</html>