<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
>

<head>
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>APAE - SANTOS DUMONT</title>

    <th:block th:replace="fragments/head"/>
</head>

<body class="nav-md">
<div class="container body">
    <div class="main_container">
        <div class="col-md-3 left_col">
            <div class="left_col scroll-view">
                <div class="navbar nav_title" style="border: 0;">
                    <a class="site_title" th:href="@{/welcome}">
                        <span>APAE-SD</span></a>
                </div>

                <div class="clearfix"></div>

                <br/>


                <!-- sidebar menu -->
                <div th:replace="fragments/sidebar"></div>
                <!-- /sidebar menu -->
            </div>
        </div>


        <!-- top navigation -->
        <div th:replace="fragments/navbar"></div>
        <!-- /top navigation -->

        <!-- page content -->
        <div class="right_col" role="main">
            <!-- top tiles -->

            <div class="tile_count">
                <div class="col-md-2 col-sm-4  tile_stats_count">

                </div>
                <div class="col-md-2 col-sm-4  tile_stats_count">

                </div>
                <div class="col-md-2 col-sm-4  tile_stats_count">

                </div>
                <div class="col-md-2 col-sm-4  tile_stats_count">

                </div>
                <div class="col-md-2 col-sm-4  tile_stats_count">

                </div>
                <div class="col-md-2 col-sm-4  tile_stats_count">

                </div>
            </div>

            <div class="right_col" role="main">
                <div class="">
                    <div class="page-title">
                        <div class="title_left">
                            <h3>Ficha de Matrícula do Aluno 2019</h3>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <div class="row">
                        <div class="col-md-12 col-sm-12">
                            <div class="x_panel">

                                <div class="x_content">
                                    <form class="form-horizontal form-label-left" method="post" novalidate
                                          th:action="@{'/matriculaaluno/view'}" th:object="${matriculaaluno}">
                                        <input th:field="*{id}" type="hidden"/>

                                        <div class="alert alert-danger" th:if="${#fields.hasAnyErrors()}">
                                            <div th:each="detailedError : ${#fields.detailedErrors()}">
                                                <span th:text="${detailedError.message}"></span>
                                            </div>
                                        </div>


                                        <div class="item form-group">
                                            <label class="col-form-label col-md-3 col-sm-3 label-align"
                                                   for="comboAluno">Aluno:<span
                                                    class="required" readonly>*</span>
                                            </label>
                                            <div class="col-md-6 col-sm-6">
                                                <select class="form-control" id="comboAluno" required="required"
                                                        th:disabled="true" th:field="*{aluno}">
                                                    <option th:each="aluno : ${tiposAlunos}"
                                                            th:text="${aluno.nome}"
                                                            th:value="${aluno.id}"></option>
                                                </select>
                                            </div>
                                        </div>

                                        <div class="item form-group">
                                            <label class="col-form-label col-md-3 col-sm-3 label-align"
                                                   for="comboUsuario">Diretora/Secretaria:<span
                                                    readonly class="required">*</span>
                                            </label>
                                            <div class="col-md-6 col-sm-6">
                                                <select class="form-control" id="comboUsuario" required="required"
                                                        th:field="*{usuario}" th:disabled="true">
                                                    <option th:each="usuario : ${tiposUsuarios}"
                                                            th:text="${usuario.nome}"
                                                            th:value="${usuario.id}"></option>
                                                </select>
                                            </div>
                                        </div>

                                        <div class="item form-group">
                                            <label class="col-form-label col-md-3 col-sm-3 label-align"
                                                   for="comboEscolaridade">Nível de Escolaridade:<span
                                                    class="required" readonly>*</span>
                                            </label>
                                            <div class="col-md-6 col-sm-6">
                                                <select class="form-control" id="comboEscolaridade" required="required"
                                                        th:disabled="true" th:field="*{nivelEscolaridade}">
                                                    <option value="Educação Infantil">Educação Infantil</option>
                                                    <option value="Ensino Fundamental">Ensino Fundamental</option>
                                                </select>
                                            </div>
                                        </div>

                                        <div class="item form-group">
                                            <label class="col-form-label col-md-3 col-sm-3 label-align"
                                                   for="anoescolaridadeciclo">Ano Escolaridade - Ciclo:<span
                                                    class="required">*</span>
                                            </label>
                                            <div class="col-md-6 col-sm-6">
                                                <input class="form-control" id="anoescolaridadeciclo"
                                                       readonly
                                                       th:field="*{anoEscolaridadeCiclo}" type="text">
                                            </div>
                                        </div>
                                        <div class="item form-group">
                                            <label class="col-form-label col-md-3 col-sm-3 label-align"
                                                   for="anoescolaridadefase">Fase:<span
                                                    class="required">*</span>
                                            </label>
                                            <div class="col-md-6 col-sm-6">
                                                <input class="form-control" id="anoescolaridadefase"
                                                       readonly
                                                       th:field="*{anoEscolaridadeFase}" type="text">
                                            </div>
                                        </div>

                                        <div class="item form-group">
                                            <label class="col-form-label col-md-3 col-sm-3 label-align"
                                                   for="anoescolaridadeano">Ano:<span
                                                    class="required">*</span>
                                            </label>
                                            <div class="col-md-6 col-sm-6">
                                                <input class="form-control" id="anoescolaridadeano"
                                                       readonly
                                                       th:field="*{anoEscolaridadeAno}" type="text">
                                            </div>
                                        </div>

                                        <div class="item form-group">
                                            <label class="col-form-label col-md-3 col-sm-3 label-align"
                                                   for="naturalidade">Naturalidade:<span
                                                    class="required">*</span>
                                            </label>
                                            <div class="col-md-6 col-sm-6">
                                                <input class="form-control" id="naturalidade"
                                                       readonly
                                                       required="required"
                                                       th:field="*{naturalidade}" type="text">
                                            </div>
                                        </div>

                                        <div class="item form-group">
                                            <label class="col-form-label col-md-3 col-sm-3 label-align" for="comboCor">Cor:<span
                                                    class="required">*</span>
                                            </label>
                                            <div class="col-md-6 col-sm-6">
                                                <select class="form-control" id="comboCor" required="required"
                                                        th:disabled="true" th:field="*{cor}">
                                                    <option value="Branca">Branca</option>
                                                    <option value="Preta">Preta</option>
                                                    <option value="Parda">Parda</option>
                                                    <option value="Amarela">Amarela</option>
                                                    <option value="Indigena">Indigena</option>
                                                </select>
                                            </div>
                                        </div>

                                        <div class="item form-group">
                                            <label class="col-form-label col-md-3 col-sm-3 label-align" for="bolsa1">Aluno(a)beneficiado(a)
                                                pelo programa bolsa escola/bolsa familia:<span
                                                        class="required">*</span>
                                            </label>
                                            <div class="col-md-6 col-sm-6" th:readonly="true">
                                                <p>
                                                    <label>Sim</label>
                                                    <input id="bolsa1" th:disabled="true" th:field="*{beneficioBolsa}" th:value="${true}"
                                                           type="radio"/><br/>
                                                    <label>Não:</label>
                                                    <input id="bolsa2" th:disabled="true" th:field="*{beneficioBolsa}" th:value="${false}"
                                                           type="radio"/>
                                                </p>
                                            </div>
                                        </div>

                                        <div class="item form-group">
                                            <label class="col-form-label col-md-3 col-sm-3 label-align"
                                                   for="naturalidade">Responsável pelo recebimento:<span
                                                    class="required">*</span>
                                            </label>
                                            <div class="col-md-6 col-sm-6">
                                                <input class="form-control" id="responsavelrecebimento"
                                                       readonly
                                                       th:field="*{responsavelRecebimento}" type="text">
                                            </div>
                                        </div>

                                        <div class="item form-group">
                                            <label class="col-form-label col-md-3 col-sm-3 label-align"
                                                   for="ci">CI:<span
                                                    class="required">*</span>
                                            </label>
                                            <div class="col-md-6 col-sm-6">
                                                <input class="form-control" id="ci"
                                                       readonly
                                                       th:field="*{ci}" type="text">
                                            </div>
                                        </div>

                                        <div class="item form-group">
                                            <label class="col-form-label col-md-3 col-sm-3 label-align"
                                                   for="naturalidade">Data da Expedição:<span
                                                    class="required">*</span>
                                            </label>
                                            <div class="col-md-6 col-sm-6">
                                                <input class="form-control" id="DataExpedicao"
                                                       readonly
                                                       th:field="*{dataExpedicao}" type="text">
                                            </div>
                                        </div>

                                        <div class="item form-group">
                                            <label class="col-form-label col-md-3 col-sm-3 label-align"
                                                   for="naturalidade">Responsável pelo recebimento:<span
                                                    class="required">*</span>
                                            </label>
                                            <div class="col-md-6 col-sm-6">
                                                <input class="form-control" id="Orgão"
                                                       readonly
                                                       th:field="*{orgao}" type="text">
                                            </div>
                                        </div>

                                        <div class="item form-group">
                                            <label class="col-form-label col-md-3 col-sm-3 label-align"
                                                   for="naturalidade">Nome da Mãe do responsável pelo recebimento do benefício:<span
                                                    class="required">*</span>
                                            </label>
                                            <div class="col-md-6 col-sm-6">
                                                <input class="form-control" id="maebeneficio"
                                                       readonly
                                                       th:field="*{nomeMaeRecebimento}" type="text">
                                            </div>
                                        </div>

                                        <div class="item form-group">
                                            <label class="col-form-label col-md-3 col-sm-3 label-align"
                                                   for="naturalidade">N° de Inscrição do cartão de recebimento:<span
                                                    class="required">*</span>
                                            </label>
                                            <div class="col-md-6 col-sm-6">
                                                <input class="form-control" id="cartaorecebimento"
                                                       readonly
                                                       th:field="*{inscricaoRecebimento}" type="text">
                                            </div>
                                        </div>

                                        <div class="item form-group">
                                            <label class="col-form-label col-md-3 col-sm-3 label-align" for="bpc">Aluno Possui Cadastro
                                                no B. P. C.:<span
                                                        class="required">*</span>
                                            </label>
                                            <div class="col-md-6 col-sm-6" th:readonly="true">
                                                <p>
                                                    <label>Sim</label>
                                                    <input id="bpc" th:disabled="true" th:field="*{bpc}" th:value="${true}"
                                                           type="radio"/><br/>
                                                    <label>Não:</label>
                                                    <input id="bpc1" th:disabled="true" th:field="*{bpc}" th:value="${false}"
                                                           type="radio"/>
                                                </p>
                                            </div>
                                        </div>

                                        <div class="item form-group">
                                            <label class="col-form-label col-md-3 col-sm-3 label-align" for="alimento">Possui algum
                                                alimento que não possa ser ofertado ao aluno(a)?<span
                                                        class="required">*</span>
                                            </label>
                                            <div class="col-md-6 col-sm-6" th:disabled="true">
                                                <p>
                                                    <label>Sim</label>
                                                    <input id="alimento" th:disabled="true" th:field="*{alimentoPerigoso}" th:value="${true}"
                                                           type="radio"/><br/>
                                                    <label>Não:</label>
                                                    <input id="alimento1" th:disabled="true" th:field="*{alimentoPerigoso}"
                                                           th:value="${false}" type="radio"/>
                                                </p>
                                            </div>
                                        </div>

                                        <div class="item form-group">
                                            <label class="col-form-label col-md-3 col-sm-3 label-align"
                                                   for="qualalimento">Qual?<span></span>
                                            </label>
                                            <div class="col-md-6 col-sm-6">
                                                <input class="form-control" id="qualalimento"
                                                       readonly
                                                       th:field="*{qualAlimentoPerigoso}" type="text">
                                            </div>
                                        </div>


                                        <div class="item form-group">
                                            <label class="col-form-label col-md-3 col-sm-3 label-align" for="problemasaude">Possui algum
                                                problema de saúde?<span
                                                        class="required">*</span>
                                            </label>
                                            <div class="col-md-6 col-sm-6" th:readonly="true">
                                                <p>
                                                    <label>Sim</label>
                                                    <input id="problemasaude" th:disabled="true" th:field="*{problemaSaude}"
                                                           th:value="${true}" type="radio"/><br/>
                                                    <label>Não:</label>
                                                    <input id="problemasaude1" th:disabled="true" th:field="*{problemaSaude}"
                                                           th:value="${false}" type="radio"/>
                                                </p>
                                            </div>
                                        </div>

                                        <div class="item form-group">
                                            <label class="col-form-label col-md-3 col-sm-3 label-align"
                                                   for="qualproblemasaude">Qual?
                                            </label>
                                            <div class="col-md-6 col-sm-6">
                                                <input class="form-control" id="qualproblemasaude"
                                                       readonly
                                                       th:field="*{qualAlimentoPerigoso}" type="text">
                                            </div>
                                        </div>

                                        <div class="item form-group">
                                            <label class="col-form-label col-md-3 col-sm-3 label-align" for="medicamento">Faz uso de
                                                algum medicamento?<span
                                                        class="required">*</span>
                                            </label>
                                            <div class="col-md-6 col-sm-6" th:readonly="true">
                                                <p>
                                                    <label>Sim</label>
                                                    <input id="medicamento" th:disabled="true" th:field="*{medicamente}" th:value="${true}"
                                                           type="radio"/><br/>
                                                    <label>Não:</label>
                                                    <input id="medicamento1" th:disabled="true" th:field="*{medicamente}" th:value="${false}"
                                                           type="radio"/>
                                                </p>
                                            </div>
                                        </div>

                                        <div class="item form-group">
                                            <label class="col-form-label col-md-3 col-sm-3 label-align"
                                                   for="qualmedicamento">Qual?
                                            </label>
                                            <div class="col-md-6 col-sm-6">
                                                <input class="form-control" id="qualmedicamento"
                                                       readonly
                                                       th:field="*{qualMedicamento}" type="text">
                                            </div>
                                        </div>

                                        <div class="item form-group">
                                            <label class="col-form-label col-md-3 col-sm-3 label-align"
                                                   for="observacoes">Observações:
                                            </label>
                                            <div class="col-md-6 col-sm-6">
                                                <input class="form-control" id="observacoes"
                                                       readonly
                                                       th:field="*{observacao}" type="text">
                                            </div>
                                        </div>

                                        <div class="ln_solid"></div>
                                        <div class="form-group">
                                            <div class="col-md-6 offset-md-3">
                                                <a class="btn btn-danger" th:href="@{/matriculaaluno/lista}">Cancelar</a>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <footer>
                <div th:replace="fragments/footer :: footer"></div>
            </footer>
            <!-- /footer content -->
        </div>
    </div>

    <!--scripts-->
    <th:block th:replace="fragments/scripts"/>
    <!-- /scripts-->
</div>
</body>
</html>