<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

<head>
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>APAE - SANTOS DUMONT</title>

    <th:block th:replace="fragments/head"/>
</head>

<body class="nav-md">
<div class="container body">
    <div class="main_container">
        <div class="col-md-3 left_col">
            <div class="left_col scroll-view">
                <div class="navbar nav_title" style="border: 0;">
                    <a th:href="@{/welcome}" class="site_title">
                        <span>APAE-SD</span></a>
                </div>

                <div class="clearfix"></div>

                <br/>

                <!-- sidebar menu -->
                <div th:replace="fragments/sidebar"></div>
                <!-- /sidebar menu -->
            </div>
        </div>

        <!-- top navigation -->
        <div th:replace="fragments/navbar"></div>
        <!-- /top navigation -->

        <!-- page content -->
        <div class="right_col" role="main">
            <!-- top tiles -->

            <div class="tile_count">
                <div class="col-md-2 col-sm-4  tile_stats_count">

                </div>
                <div class="col-md-2 col-sm-4  tile_stats_count">

                </div>
                <div class="col-md-2 col-sm-4  tile_stats_count">

                </div>
                <div class="col-md-2 col-sm-4  tile_stats_count">

                </div>
                <div class="col-md-2 col-sm-4  tile_stats_count">

                </div>
                <div class="col-md-2 col-sm-4  tile_stats_count">

                </div>
            </div>
            <!-- page content -->
            <div class="right_col" role="main">
                <div class="row">
                    <div class="col-md-12 col-sm-12 ">
                        <div class="dashboard_graph">
                            <div class="limiter">
                                <div class="container-login100">
                                    <div class="wrap-login100 p-l-85 p-r-85 p-t-55 p-b-55">
                                        <!-- pode apagar acima-->
                                        <section class="box-intro">
                                            <div class="table-cell">
                                                <div class="card-header" style="padding-top: 90px">
                                                    <a class="btn btn-primary" style="font-size: medium"
                                                       th:href="@{/resultadoAvaliacaoGeral/add}">Cadastrar Resultado de Avaliação Geral</a>
                                                </div>
                                                <br /> <strong>Filtro</strong> <br /> <br />
                                                <form class="form-horizontal" th:object="${current}"
                                                      th:action="@{'/resultadoavaliacaogeral/lista'}" method="GET" style="margin: 10px">
                                                    <table
                                                            class="table table-sm table-striped table-hover table-bordered">
                                                        <tr>
                                                            <td><label>Nome do aluno:</label> <input type="text"
                                                                                                     th:field="*{aluno.nome}"/></td>
                                                        </tr>
                                                        <tr>
                                                            <td>
                                                                <button type="submit" class="btn btn-sm btn-primary">Buscar</button>
                                                            </td>
                                                        </tr>
                                                    </table>
                                                </form>
                                                <div class="container">
                                                    <div>
                                                        <h2>Resultados de Avaliação Geral</h2>
                                                        <table id="datatable-keytable"
                                                               class="table table-striped table-bordered">
                                                            <tr>
                                                                <th>Código</th>
                                                                <th>Aluno</th>
                                                                <th>Ações</th>
                                                            </tr>
                                                            <tr th:if="${not #lists.isEmpty(resultadosavaliacaogeral)}"
                                                                th:each="resultadoavaliacaogeral : ${resultadosavaliacaogeral}">
                                                                <td th:text="${resultadoavaliacaogeral.id}">Código</td>
                                                                <td th:text="${resultadoavaliacaogeral.aluno.nome}">Nome</td>
                                                                <td>
                                                                    <a class="btn btn-warning"
                                                                       th:href="@{'/resultadoavaliacaogeral/view/' + ${resultadoavaliacaogeral.id}}">Visualizar</a>
                                                                </td>
                                                            </tr>
                                                        </table>
                                                    </div>
                                                </div>
                                            </div>
                                        </section>
                                    </div>
                                </div>
                            </div>
                            <!-- /page content -->
                        </div>
                    </div>
                </div>
            </div>

            <footer>
                <div th:replace="fragments/footer :: footer"></div>
            </footer>
            <!-- /footer content -->
        </div>
    </div>
</div>

<!--scripts-->
<th:block th:replace="fragments/scripts"/>
<!-- /scripts-->
</body>
</html>