<div xmlns:th="http://wwww.thymeleaf.org" th:fragment="footer">
    <div class="pull-left">
        <strong>Desenvolvido por Renan Silva de Araújo e Rodrigo Moliterno</strong>
    </div>
    <div class="clearfix"></div>
</div>