<link href="img/apae2.png" rel="icon" type="image/x-icon"
      xmlns:th="http://www.w3.org/1999/xhtml">

<link rel="stylesheet" type="text/css" th:href="@{vendor/bootstrap.min.css}">
<!--===================================th:======@{=====================================================-->
<link rel="stylesheet" type="text/css" th:href="@{fonts/font-awesome.min.css}">
<!--===================================th:======@{=====================================================-->
<link rel="stylesheet" type="text/css" th:href="@{fonts/icon-font.min.css}">
<!--===================================th:======@{=====================================================-->
<link rel="stylesheet" type="text/css" th:href="@{vendor/animate.css}">
<!--===================================th:======@{=====================================================-->
<link rel="stylesheet" type="text/css" th:href="@{vendor/hamburgers.min.css}">
<!--===================================th:======@{=====================================================-->
<link rel="stylesheet" type="text/css" th:href="@{vendor/animsition.min.css}">
<!--===================================th:======@{=====================================================-->
<link rel="stylesheet" type="text/css" th:href="@{vendor/select2.min.css}">
<!--===================================th:======@{=====================================================-->
<link rel="stylesheet" type="text/css" th:href="@{vendor/daterangepicker.css}">
<!--===================================th:======@{=====================================================-->
<link rel="stylesheet" type="text/css" th:href="@{css/util.css}">
<link rel="stylesheet" type="text/css" th:href="@{css/main.css}">
<!--===============================================================================================-->

<!-- modernizr -->
<script src="js/modernizr.js"></script>

<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
<script th:src="@{https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js}"></script>
<script th:src="@{https://oss.maxcdn.com/respond/1.4.2/respond.min.js}"></script>
<![endif]-->

<meta content="text/html; charset=UTF-8" http-equiv="Content-Type">
<!-- Meta, title, CSS, favicons, etc. -->
<meta charset="utf-8">
<meta content="IE=edge" http-equiv="X-UA-Compatible">
<meta content="width=device-width, initial-scale=1" name="viewport">
<link href="images/favicon.ico" rel="icon" type="image/ico"/>

<!-- Bootstrap -->
<link th:href="@{/vendors/bootstrap/dist/css/bootstrap.min.css}" rel="stylesheet">
<!-- Fth:ont Aw@{me -->
<link th:href="@{/vendors/font-awesome/css/font-awesome.min.css}" rel="stylesheet">
<!-- Nth:Progre@{-->
<link th:href="@{/vendors/nprogress/nprogress.css}" rel="stylesheet">
<!-- ith:Check @{
<link th:href="@{/vendors/iCheck/skins/flat/green.css" rel="stylesheet">
th: bth:ootstr@{progressbar -->
<link th:href="@{/vendors/bootstrap-progressbar/css/bootstrap-progressbar-3.3.4.min.css}" rel="stylesheet">
<!-- Jth:QVMap @{
<link th:href="@{/vendors/jqvmap/dist/jqvmap.min.css" rel="stylesheet"/>
bth:ootstr@{daterangepicker -->
<link th:href="@{/vendors/bootstrap-daterangepicker/daterangepicker.css}" rel="stylesheet">
<!-- Cth:ustom @{me Style -->
<link th:href="@{/css/custom.min.css}" rel="stylesheet">