<!-- top navigation -->
<div class="top_nav" th:fragment="navbar" xmlns:th="http://www.thymeleaf.org">
    <div class="nav_menu">
        <div class="nav toggle">
            <a id="menu_toggle"><i class="fa fa-bars"></i></a>
        </div>
        <nav class="nav navbar-nav">
            <ul class=" navbar-right">

                <li class="nav-item">
                    <div class="text-center">
                        <a class="dropdown-item">

                        </a>
                    </div>
                </li>
            </ul>
        </nav>
    </div>
</div>