<!-- sidebar menu -->
<div class="main_menu_side hidden-print main_menu" id="sidebar-menu" th:fragment="sidebar" xmlns:th="http://www.thymeleaf.org">
    <div class="menu_section">
        <h3>Geral</h3>
        <ul class="nav side-menu">
            <li><a><i class="fa fa-home"></i> Secretaria <span class="fa fa-chevron-down"></span></a>
                <ul class="nav child_menu">
                    <li><a th:href="@{/usuario/lista}">Usuarios</a></li>
                    <li><a th:href="@{/resultadoavaliacaogeral/lista}">Resultado de Avaliação Geral</a></li>
                    <li><a th:href="@{/agenda/lista}">Agenda</a></li>
                    <li><a th:href="@{/permissao/lista}">Cargos</a></li>
                    <li><a th:href="@{/matriculaaluno/lista}">Matricula de Aluno</a></li>
                </ul>
            </li>
            <li><a><i class="fa fa-edit"></i> Alunos <span class="fa fa-chevron-down"></span></a>
                <ul class="nav child_menu">
                    <li><a th:href="@{/aluno/lista}">Alunos</a></li>
                </ul>
            </li>
            <li><a><i class="fa fa-pinterest-p"></i> Psicologia <span class="fa fa-chevron-down"></span></a>
                <ul class="nav child_menu">
                    <li><a th:href="@{/avaliacaopsicologia/lista}">Anamneses de Psicologia</a></li>
                    <li><a th:href="@{/linhasemanal/lista}">Linha Semanal de Alunos</a></li>
                    <li><a th:href="@{/agenda/lista}">Agenda</a></li>
                </ul>
            </li>
            <li><a><i class="fa fa-facebook-f"></i> Fonoaudiologia <span class="fa fa-chevron-down"></span></a>
                <ul class="nav child_menu">
                    <li><a th:href="@{/triagemfonoaudiologia/lista}">Anamneses de Fonoaudiologia</a></li>
                    <li><a th:href="@{/linhasemanal/lista}">Linha Semanal de Alunos</a></li>
                    <li><a th:href="@{/agenda/lista}">Agenda</a></li>
                </ul>
            </li>
            <li><a><i class="fa fa-fonticons"></i> Fisioterapia <span class="fa fa-chevron-down"></span></a>
                <ul class="nav child_menu">
                    <li><a th:href="@{/avaliacaofisioterapia/lista}">Anamneses de Fisioterapia</a></li>
                    <li><a th:href="@{/linhasemanal/lista}">Linha Semanal de Alunos</a></li>
                    <li><a th:href="@{/agenda/lista}">Agenda</a></li>
                </ul>
            </li>
            <li><a><i class="fa fa-scribd"></i> Servico Social <span class="fa fa-chevron-down"></span></a>
                <ul class="nav child_menu">
                    <li><a th:href="@{/linhasemanal/lista}">Linha Semanal de Alunos</a></li>
                    <li><a th:href="@{/agenda/lista}">Agenda</a></li>
                </ul>
            </li>
            <li><a><i class="fa fa-dropbox"></i> Tesouraria <span class="fa fa-chevron-down"></span></a>
                <ul class="nav child_menu">
                    <li><a th:href="@{/produto/lista}">Produtos</a></li>
                </ul>
            </li>
            <li><a><i class="fa fa-close"></i> Desconectar <span class="fa fa-chevron-down"></span></a>
                <ul class="nav child_menu">
                    <li><a th:href="@{/logout}">Desconectar</a></li>
                </ul>
            </li>
        </ul>
    </div>
</div>
<!-- /sidebar menu -->