<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

<head>
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>APAE - SANTOS DUMONT</title>

    <th:block th:replace="fragments/head"/>
</head>

<body class="nav-md">
<div class="container body">
    <div class="main_container">
        <div class="col-md-3 left_col">
            <div class="left_col scroll-view">
                <div class="navbar nav_title" style="border: 0;">
                    <a th:href="@{/welcome}" class="site_title">
                        <span>APAE-SD</span></a>
                </div>

                <div class="clearfix"></div>

                <br/>

                <!-- sidebar menu -->
                <div th:replace="fragments/sidebar"></div>
                <!-- /sidebar menu -->
            </div>
        </div>

        <!-- top navigation -->
        <div th:replace="fragments/navbar"></div>
        <!-- /top navigation -->

        <!-- page content -->
        <div class="right_col" role="main">
            <!-- top tiles -->

            <div class="tile_count">
                <div class="col-md-2 col-sm-4  tile_stats_count">

                </div>
                <div class="col-md-2 col-sm-4  tile_stats_count">

                </div>
                <div class="col-md-2 col-sm-4  tile_stats_count">

                </div>
                <div class="col-md-2 col-sm-4  tile_stats_count">

                </div>
                <div class="col-md-2 col-sm-4  tile_stats_count">

                </div>
                <div class="col-md-2 col-sm-4  tile_stats_count">

                </div>
            </div>

            <div class="right_col" role="main">
                <div class="">
                    <div class="page-title">
                        <div class="title_left">
                            <h3>Anamnese Psicologia</h3>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <div class="row">
                        <div class="col-md-12 col-sm-12">
                            <div class="x_panel">

                                <div class="x_content">
                                    <form class="form-horizontal form-label-left" method="post" novalidate
                                          th:action="@{'/avaliacaopsicologia/add'}" th:object="${current}">
                                        <input th:field="*{id}" type="hidden"/>

                                        <div class="alert alert-danger" th:if="${#fields.hasAnyErrors()}">
                                            <div th:each="detailedError : ${#fields.detailedErrors()}">
                                                <span th:text="${detailedError.message}"></span>
                                            </div>
                                        </div>

                                        <div class="item form-group">
                                            <label class="col-form-label col-md-3 col-sm-3 label-align"
                                                   for="comboAluno">Aluno:<span
                                                    class="required">*</span>
                                            </label>
                                            <div class="col-md-6 col-sm-6">
                                                <select class="form-control" id="comboAluno" required="required"
                                                        th:field="*{aluno}">
                                                    <option th:each="aluno : ${tiposAlunos}"
                                                            th:text="${aluno.nome}"
                                                            th:value="${aluno.id}"></option>
                                                </select>
                                            </div>
                                        </div>

                                        <div class="item form-group">
                                            <label class="col-form-label col-md-3 col-sm-3 label-align"
                                                   for="comboAluno">Psicologa:<span
                                                    class="required">*</span>
                                            </label>
                                            <div class="col-md-6 col-sm-6">
                                                <select class="form-control" id="comboPsicologa" required="required"
                                                        th:field="*{usuario}">
                                                    <option th:each="usuario : ${tiposUsuarios}"
                                                            th:text="${usuario.nome}"
                                                            th:value="${usuario.id}"></option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="item form-group">
                                            <label class="col-form-label col-md-3 col-sm-3 label-align"
                                                   for="motivoEncaminhamento">Motivo do Encaminhamento:<span
                                                    class="required">*</span>
                                            </label>
                                            <div class="col-md-6 col-sm-6">
                                                <input class="form-control" id="motivoEncaminhamento"
                                                       th:field="*{motivoEncaminhamento}" type="text">
                                            </div>
                                        </div>

                                        <div class="item form-group">
                                            <label class="col-form-label col-md-3 col-sm-3 label-align"
                                                   for="dataanamnese">Data da Anamnese:<span
                                                    class="required">*</span>
                                            </label>
                                            <div class="col-md-6 col-sm-6">
                                                <input class="form-control" id="dataanamnese"
                                                       th:field="*{dataAnamnese}" type="date">
                                            </div>
                                        </div>

                                        <div class="item form-group">
                                            <label class="col-form-label col-md-3 col-sm-3 label-align"
                                                   for="concepcao">Concepção:<span
                                                    class="required">*</span>
                                            </label>
                                            <div class="col-md-6 col-sm-6">
                                                <input class="form-control" id="concepcao"
                                                       th:field="*{concepcao}" type="text">
                                            </div>
                                        </div>
                                        <div class="item form-group">
                                            <label class="col-form-label col-md-3 col-sm-3 label-align"
                                                   for="anoescolaridadefase">Parto:<span
                                                    class="required">*</span>
                                            </label>
                                            <div class="col-md-6 col-sm-6">
                                                <input class="form-control" id="anoescolaridadefase"
                                                       th:field="*{parto}" type="text">
                                            </div>
                                        </div>

                                        <div class="item form-group">
                                            <label class="col-form-label col-md-3 col-sm-3 label-align"
                                                   for="anoescolaridadeano">Condições de Nascimento:<span
                                                    class="required">*</span>
                                            </label>
                                            <div class="col-md-6 col-sm-6">
                                                <input class="form-control" id="anoescolaridadeano"
                                                       placeholder="Informe o Ano"
                                                       th:field="*{condicaoNascimento}" type="text">
                                            </div>
                                        </div>

                                        <div class="item form-group">
                                            <label class="col-form-label col-md-3 col-sm-3 label-align"
                                                   for="naturalidade">Engantinou:<span
                                                    class="required">*</span>
                                            </label>
                                            <div class="col-md-6 col-sm-6">
                                                <input class="form-control" id="naturalidade"
                                                       placeholder="Informe a Naturalidade"
                                                       required="required"
                                                       th:field="*{engatinhar}" type="text">
                                            </div>
                                        </div>

                                        <div class="item form-group">
                                            <label class="col-form-label col-md-3 col-sm-3 label-align"
                                                   for="andar">Andou:<span
                                                    class="required">*</span>
                                            </label>
                                            <div class="col-md-6 col-sm-6">
                                                <input class="form-control" id="andar"
                                                       required="required"
                                                       th:field="*{andar}" type="text">
                                            </div>
                                        </div>

                                        <div class="item form-group">
                                            <label class="col-form-label col-md-3 col-sm-3 label-align"
                                                   for="falar">Falou:<span
                                                    class="required">*</span>
                                            </label>
                                            <div class="col-md-6 col-sm-6">
                                                <input class="form-control" id="falar"
                                                       required="required"
                                                       th:field="*{falar}" type="text">
                                            </div>
                                        </div>

                                        <div class="item form-group">
                                            <label class="col-form-label col-md-3 col-sm-3 label-align" for="comboCor">Reconhece
                                                Cores vermelho, azul, amarelo, verde:<span
                                                        class="required">*</span>
                                            </label>
                                            <div class="col-md-6 col-sm-6">
                                                <select class="form-control" id="comboCor" required="required"
                                                        th:field="*{reconhecimentoCor}">
                                                    <option value="Sim">Sim</option>
                                                    <option value="Não">Não</option>
                                                    <option value="Talvez">Talvez</option>
                                                </select>
                                            </div>
                                        </div>

                                        <div class="item form-group">
                                            <label class="col-form-label col-md-3 col-sm-3 label-align"
                                                   for="comboformas">Identifica e nomeia formas:<span
                                                    class="required">*</span>
                                            </label>
                                            <div class="col-md-6 col-sm-6">
                                                <select class="form-control" id="comboformas" required="required"
                                                        th:field="*{identificaFormas}">
                                                    <option value="Sim">Sim</option>
                                                    <option value="Não">Não</option>
                                                    <option value="Talvez">Talvez</option>
                                                </select>
                                            </div>
                                        </div>

                                        <div class="item form-group">
                                            <label class="col-form-label col-md-3 col-sm-3 label-align"
                                                   for="combomovimentasom">Movimenta-se na direção de um som:<span
                                                    class="required">*</span>
                                            </label>
                                            <div class="col-md-6 col-sm-6">
                                                <select class="form-control" id="combomovimentasom" required="required"
                                                        th:field="*{movimentaSom}">
                                                    <option value="Sim">Sim</option>
                                                    <option value="Não">Não</option>
                                                    <option value="Talvez">Talvez</option>
                                                </select>
                                            </div>
                                        </div>

                                        <div class="item form-group">
                                            <label class="col-form-label col-md-3 col-sm-3 label-align"
                                                   for="comboidentificasombaixo">Identifica se um som está baixo:<span
                                                    class="required">*</span>
                                            </label>
                                            <div class="col-md-6 col-sm-6">
                                                <select class="form-control" id="comboidentificasombaixo"
                                                        required="required"
                                                        th:field="*{identificaSomBaixo}">
                                                    <option value="Sim">Sim</option>
                                                    <option value="Não">Não</option>
                                                    <option value="Talvez">Talvez</option>
                                                </select>
                                            </div>
                                        </div>

                                        <div class="item form-group">
                                            <label class="col-form-label col-md-3 col-sm-3 label-align"
                                                   for="comboidentificasomalto">Identifica se um som está alto:<span
                                                    class="required">*</span>
                                            </label>
                                            <div class="col-md-6 col-sm-6">
                                                <select class="form-control" id="comboidentificasomalto"
                                                        required="required"
                                                        th:field="*{identificaSomAlto}">
                                                    <option value="Sim">Sim</option>
                                                    <option value="Não">Não</option>
                                                    <option value="Talvez">Talvez</option>
                                                </select>
                                            </div>
                                        </div>

                                        <div class="item form-group">
                                            <label class="col-form-label col-md-3 col-sm-3 label-align"
                                                   for="combopercetemperatura">Percebe diferença da temperatura
                                                quente/frio:<span
                                                        class="required">*</span>
                                            </label>
                                            <div class="col-md-6 col-sm-6">
                                                <select class="form-control" id="combopercetemperatura"
                                                        required="required"
                                                        th:field="*{percebeTemperatura}">
                                                    <option value="Sim">Sim</option>
                                                    <option value="Não">Não</option>
                                                    <option value="Talvez">Talvez</option>
                                                </select>
                                            </div>
                                        </div>


                                        <div class="item form-group">
                                            <label class="col-form-label col-md-3 col-sm-3 label-align"
                                                   for="combointeresseunidadeestudo">Demonstra interesse pelas unidades
                                                de estudo:<span
                                                        class="required">*</span>
                                            </label>
                                            <div class="col-md-6 col-sm-6">
                                                <select class="form-control" id="combointeresseunidadeestudo"
                                                        required="required"
                                                        th:field="*{interesseEstudo}">
                                                    <option value="Sim">Sim</option>
                                                    <option value="Não">Não</option>
                                                    <option value="Talvez">Talvez</option>
                                                </select>
                                            </div>
                                        </div>

                                        <div class="item form-group">
                                            <label class="col-form-label col-md-3 col-sm-3 label-align"
                                                   for="combocontribuiestudo">Contribui com idéias e materias relativos ao estudo:<span
                                                        class="required">*</span>
                                            </label>
                                            <div class="col-md-6 col-sm-6">
                                                <select class="form-control" id="combocontribuiestudo"
                                                        required="required"
                                                        th:field="*{contribuiIdeias}">
                                                    <option value="Sim">Sim</option>
                                                    <option value="Não">Não</option>
                                                    <option value="Talvez">Talvez</option>
                                                </select>
                                            </div>
                                        </div>

                                        <div class="item form-group">
                                            <label class="col-form-label col-md-3 col-sm-3 label-align"
                                                   for="combointeressainformacaocolega">Interessa-se pelas informações trazidas pelos colegas:<span
                                                    class="required">*</span>
                                            </label>
                                            <div class="col-md-6 col-sm-6">
                                                <select class="form-control" id="combointeressainformacaocolega"
                                                        required="required"
                                                        th:field="*{interessaColega}">
                                                    <option value="Sim">Sim</option>
                                                    <option value="Não">Não</option>
                                                    <option value="Talvez">Talvez</option>
                                                </select>
                                            </div>
                                        </div>

                                        <div class="item form-group">
                                            <label class="col-form-label col-md-3 col-sm-3 label-align"
                                                   for="comboparticipacomperguntas">Participa com perguntas:<span
                                                    class="required">*</span>
                                            </label>
                                            <div class="col-md-6 col-sm-6">
                                                <select class="form-control" id="comboparticipacomperguntas"
                                                        required="required"
                                                        th:field="*{participaPergunta}">
                                                    <option value="Sim">Sim</option>
                                                    <option value="Não">Não</option>
                                                    <option value="Talvez">Talvez</option>
                                                </select>
                                            </div>
                                        </div>

                                        <div class="item form-group">
                                            <label class="col-form-label col-md-3 col-sm-3 label-align"
                                                   for="comboparticiparespostas">Tenta encontrar respostas/soluções para suas dúvidas:<span
                                                    class="required">*</span>
                                            </label>
                                            <div class="col-md-6 col-sm-6">
                                                <select class="form-control" id="comboparticiparespostas"
                                                        required="required"
                                                        th:field="*{encontrarResposta}">
                                                    <option value="Sim">Sim</option>
                                                    <option value="Não">Não</option>
                                                    <option value="Talvez">Talvez</option>
                                                </select>
                                            </div>
                                        </div>

                                        <div class="item form-group">
                                            <label class="col-form-label col-md-3 col-sm-3 label-align"
                                                   for="comboparticipaatividade">Participa das Atividades com interesse:<span
                                                    class="required">*</span>
                                            </label>
                                            <div class="col-md-6 col-sm-6">
                                                <select class="form-control" id="comboparticipaatividade"
                                                        required="required"
                                                        th:field="*{participaInteresse}">
                                                    <option value="Sim">Sim</option>
                                                    <option value="Não">Não</option>
                                                    <option value="Talvez">Talvez</option>
                                                </select>
                                            </div>
                                        </div>

                                        <div class="item form-group">
                                            <label class="col-form-label col-md-3 col-sm-3 label-align"
                                                   for="combodispensaatividade">Dispensa do grupo por não realizar atividades:<span
                                                    class="required">*</span>
                                            </label>
                                            <div class="col-md-6 col-sm-6">
                                                <select class="form-control" id="combodispensaatividade"
                                                        required="required"
                                                        th:field="*{dispensaAtividade}">
                                                    <option value="Sim">Sim</option>
                                                    <option value="Não">Não</option>
                                                    <option value="Talvez">Talvez</option>
                                                </select>
                                            </div>
                                        </div>

                                        <div class="item form-group">
                                            <label class="col-form-label col-md-3 col-sm-3 label-align"
                                                   for="combofacilidadeandar">Demonstra facilidade em exercícios de andar:<span
                                                    class="required">*</span>
                                            </label>
                                            <div class="col-md-6 col-sm-6">
                                                <select class="form-control" id="combofacilidadeandar"
                                                        required="required"
                                                        th:field="*{facilidadeAndar}">
                                                    <option value="Sim">Sim</option>
                                                    <option value="Não">Não</option>
                                                    <option value="Talvez">Talvez</option>
                                                </select>
                                            </div>
                                        </div>

                                        <div class="item form-group">
                                            <label class="col-form-label col-md-3 col-sm-3 label-align"
                                                   for="combocorrer">Demonstra facilidade em exercícios de correr:<span
                                                    class="required">*</span>
                                            </label>
                                            <div class="col-md-6 col-sm-6">
                                                <select class="form-control" id="combocorrer"
                                                        required="required"
                                                        th:field="*{correr}">
                                                    <option value="Sim">Sim</option>
                                                    <option value="Não">Não</option>
                                                    <option value="Talvez">Talvez</option>
                                                </select>
                                            </div>
                                        </div>

                                        <div class="item form-group">
                                            <label class="col-form-label col-md-3 col-sm-3 label-align"
                                                   for="combopular">Demonstra facilidade em exercícios de pular:<span
                                                    class="required">*</span>
                                            </label>
                                            <div class="col-md-6 col-sm-6">
                                                <select class="form-control" id="combopular"
                                                        required="required"
                                                        th:field="*{pular}">
                                                    <option value="Sim">Sim</option>
                                                    <option value="Não">Não</option>
                                                    <option value="Talvez">Talvez</option>
                                                </select>
                                            </div>
                                        </div>

                                        <div class="item form-group">
                                            <label class="col-form-label col-md-3 col-sm-3 label-align"
                                                   for="combosaltar">Demonstra facilidade em exercícios de saltar:<span
                                                    class="required">*</span>
                                            </label>
                                            <div class="col-md-6 col-sm-6">
                                                <select class="form-control" id="combosaltar"
                                                        required="required"
                                                        th:field="*{saltar}">
                                                    <option value="Sim">Sim</option>
                                                    <option value="Não">Não</option>
                                                    <option value="Talvez">Talvez</option>
                                                </select>
                                            </div>
                                        </div>

                                        <div class="item form-group">
                                            <label class="col-form-label col-md-3 col-sm-3 label-align"
                                                   for="comborolar">Demonstra facilidade em exercícios de rolar:<span
                                                    class="required">*</span>
                                            </label>
                                            <div class="col-md-6 col-sm-6">
                                                <select class="form-control" id="comborolar"
                                                        required="required"
                                                        th:field="*{rolar}">
                                                    <option value="Sim">Sim</option>
                                                    <option value="Não">Não</option>
                                                    <option value="Talvez">Talvez</option>
                                                </select>
                                            </div>
                                        </div>

                                        <div class="item form-group">
                                            <label class="col-form-label col-md-3 col-sm-3 label-align"
                                                   for="comboparticipaativamente">Participa ativamente de brincadeiras e jogos<span
                                                    class="required">*</span>
                                            </label>
                                            <div class="col-md-6 col-sm-6">
                                                <select class="form-control" id="comboparticipaativamente"
                                                        required="required"
                                                        th:field="*{participaAtivamente}">
                                                    <option value="Sim">Sim</option>
                                                    <option value="Não">Não</option>
                                                    <option value="Talvez">Talvez</option>
                                                </select>
                                            </div>
                                        </div>

                                        <div class="item form-group">
                                            <label class="col-form-label col-md-3 col-sm-3 label-align"
                                                   for="comborelaxamento">Consegue fazer Relaxamento<span
                                                    class="required">*</span>
                                            </label>
                                            <div class="col-md-6 col-sm-6">
                                                <select class="form-control" id="comborelaxamento"
                                                        required="required"
                                                        th:field="*{consegueRelaxamento}">
                                                    <option value="Sim">Sim</option>
                                                    <option value="Não">Não</option>
                                                    <option value="Talvez">Talvez</option>
                                                </select>
                                            </div>
                                        </div>

                                        <div class="item form-group">
                                            <label class="col-form-label col-md-3 col-sm-3 label-align"
                                                   for="comboconstruir">Construir<span
                                                    class="required">*</span>
                                            </label>
                                            <div class="col-md-6 col-sm-6">
                                                <select class="form-control" id="comboconstruir"
                                                        required="required"
                                                        th:field="*{construir}">
                                                    <option value="Sim">Sim</option>
                                                    <option value="Não">Não</option>
                                                    <option value="Talvez">Talvez</option>
                                                </select>
                                            </div>
                                        </div>

                                        <div class="item form-group">
                                            <label class="col-form-label col-md-3 col-sm-3 label-align"
                                                   for="comboempilhar">Empilhar<span
                                                    class="required">*</span>
                                            </label>
                                            <div class="col-md-6 col-sm-6">
                                                <select class="form-control" id="comboempilhar"
                                                        required="required"
                                                        th:field="*{empilhar}">
                                                    <option value="Sim">Sim</option>
                                                    <option value="Não">Não</option>
                                                    <option value="Talvez">Talvez</option>
                                                </select>
                                            </div>
                                        </div>

                                        <div class="item form-group">
                                            <label class="col-form-label col-md-3 col-sm-3 label-align"
                                                   for="comboenfiar">Enfiar(Contas, botões, pedaços de canudinho)<span
                                                    class="required">*</span>
                                            </label>
                                            <div class="col-md-6 col-sm-6">
                                                <select class="form-control" id="comboenfiar"
                                                        required="required"
                                                        th:field="*{enfiar}">
                                                    <option value="Sim">Sim</option>
                                                    <option value="Não">Não</option>
                                                    <option value="Talvez">Talvez</option>
                                                </select>
                                            </div>
                                        </div>

                                        <div class="item form-group">
                                            <label class="col-form-label col-md-3 col-sm-3 label-align"
                                                   for="combodobrar">Dobrar<span
                                                    class="required">*</span>
                                            </label>
                                            <div class="col-md-6 col-sm-6">
                                                <select class="form-control" id="combodobrar"
                                                        required="required"
                                                        th:field="*{dobrar}">
                                                    <option value="Sim">Sim</option>
                                                    <option value="Não">Não</option>
                                                    <option value="Talvez">Talvez</option>
                                                </select>
                                            </div>
                                        </div>

                                        <div class="item form-group">
                                            <label class="col-form-label col-md-3 col-sm-3 label-align"
                                                   for="combocalcar">Calçar<span
                                                    class="required">*</span>
                                            </label>
                                            <div class="col-md-6 col-sm-6">
                                                <select class="form-control" id="combocalcar"
                                                        required="required"
                                                        th:field="*{calcar}">
                                                    <option value="Sim">Sim</option>
                                                    <option value="Não">Não</option>
                                                    <option value="Talvez">Talvez</option>
                                                </select>
                                            </div>
                                        </div>

                                        <div class="item form-group">
                                            <label class="col-form-label col-md-3 col-sm-3 label-align"
                                                   for="combomodelar">Modelar<span
                                                    class="required">*</span>
                                            </label>
                                            <div class="col-md-6 col-sm-6">
                                                <select class="form-control" id="combomodelar"
                                                        required="required"
                                                        th:field="*{modelar}">
                                                    <option value="Sim">Sim</option>
                                                    <option value="Não">Não</option>
                                                    <option value="Talvez">Talvez</option>
                                                </select>
                                            </div>
                                        </div>

                                        <div class="item form-group">
                                            <label class="col-form-label col-md-3 col-sm-3 label-align"
                                                   for="combocolar">Colar<span
                                                    class="required">*</span>
                                            </label>
                                            <div class="col-md-6 col-sm-6">
                                                <select class="form-control" id="combocolar"
                                                        required="required"
                                                        th:field="*{colar}">
                                                    <option value="Sim">Sim</option>
                                                    <option value="Não">Não</option>
                                                    <option value="Talvez">Talvez</option>
                                                </select>
                                            </div>
                                        </div>

                                        <div class="item form-group">
                                            <label class="col-form-label col-md-3 col-sm-3 label-align"
                                                   for="combodesenhar">Desenhar<span
                                                    class="required">*</span>
                                            </label>
                                            <div class="col-md-6 col-sm-6">
                                                <select class="form-control" id="combodesenhar"
                                                        required="required"
                                                        th:field="*{desenhar}">
                                                    <option value="Sim">Sim</option>
                                                    <option value="Não">Não</option>
                                                    <option value="Talvez">Talvez</option>
                                                </select>
                                            </div>
                                        </div>

                                        <div class="item form-group">
                                            <label class="col-form-label col-md-3 col-sm-3 label-align"
                                                   for="combopintar">Pintar<span
                                                    class="required">*</span>
                                            </label>
                                            <div class="col-md-6 col-sm-6">
                                                <select class="form-control" id="combopintar"
                                                        required="required"
                                                        th:field="*{pintar}">
                                                    <option value="Sim">Sim</option>
                                                    <option value="Não">Não</option>
                                                    <option value="Talvez">Talvez</option>
                                                </select>
                                            </div>
                                        </div>

                                        <div class="item form-group">
                                            <label class="col-form-label col-md-3 col-sm-3 label-align"
                                                   for="combopicar">Picar<span
                                                    class="required">*</span>
                                            </label>
                                            <div class="col-md-6 col-sm-6">
                                                <select class="form-control" id="combopicar"
                                                        required="required"
                                                        th:field="*{picar}">
                                                    <option value="Sim">Sim</option>
                                                    <option value="Não">Não</option>
                                                    <option value="Talvez">Talvez</option>
                                                </select>
                                            </div>
                                        </div>

                                        <div class="item form-group">
                                            <label class="col-form-label col-md-3 col-sm-3 label-align"
                                                   for="comborecortar">Recortar<span
                                                    class="required">*</span>
                                            </label>
                                            <div class="col-md-6 col-sm-6">
                                                <select class="form-control" id="comborecortar"
                                                        required="required"
                                                        th:field="*{recortar}">
                                                    <option value="Sim">Sim</option>
                                                    <option value="Não">Não</option>
                                                    <option value="Talvez">Talvez</option>
                                                </select>
                                            </div>
                                        </div>

                                        <div class="item form-group">
                                            <label class="col-form-label col-md-3 col-sm-3 label-align"
                                                   for="combopersisteconcluir">Persiste na atividade até concluí-la<span
                                                    class="required">*</span>
                                            </label>
                                            <div class="col-md-6 col-sm-6">
                                                <select class="form-control" id="combopersisteconcluir"
                                                        required="required"
                                                        th:field="*{persisteConcluir}">
                                                    <option value="Sim">Sim</option>
                                                    <option value="Não">Não</option>
                                                    <option value="Talvez">Talvez</option>
                                                </select>
                                            </div>
                                        </div>

                                        <div class="ln_solid"></div>
                                        <div class="form-group">
                                            <div class="col-md-6 offset-md-3">
                                                <button class="btn btn-success" id="send" type="submit">Salvar</button>
                                                <a class="btn btn-danger" th:href="@{/avaliacaopsicologia/lista}">Cancelar</a>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <footer>
                <div th:replace="fragments/footer :: footer"></div>
            </footer>
            <!-- /footer content -->
        </div>
    </div>

    <!--scripts-->
    <th:block th:replace="fragments/scripts"/>
    <!-- /scripts-->

</div>

</body>
</html>