<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
>
<head>
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>APAE - SANTOS DUMONT</title>

    <th:block th:replace="fragments/head"/>
</head>

<body class="nav-md">
<div class="container body">
    <div class="main_container">
        <div class="col-md-3 left_col">
            <div class="left_col scroll-view">
                <div class="navbar nav_title" style="border: 0;">
                    <a class="site_title" th:href="@{/login}">
                        <span>APAE-SD</span></a>
                </div>

                <div class="clearfix"></div>

                <br/>

                <!-- sidebar menu -->
                <div class="main_menu_side hidden-print main_menu" id="sidebar-menu">
                    <div class="menu_section">
                        <h3>Geral</h3>
                        <ul class="nav side-menu">
                            <li><a><i class="fa fa-home"></i> Conectar <span class="fa fa-chevron-down"></span></a>
                                <ul class="nav child_menu">
                                    <li><a th:href="@{/login}">Conectar</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>

                <!-- /sidebar menu -->

                <!-- /menu footer buttons -->

                <!-- /menu footer buttons -->
            </div>
        </div>

        <!-- top navigation -->
        <div th:replace="fragments/navbar"></div>
        <!-- /top navigation -->

        <!-- page content -->
        <div class="right_col" role="main">
            <!-- top tiles -->

            <div class="tile_count">
                <div class="col-md-2 col-sm-4  tile_stats_count">

                </div>
                <div class="col-md-2 col-sm-4  tile_stats_count">

                </div>
                <div class="col-md-2 col-sm-4  tile_stats_count">

                </div>
                <div class="col-md-2 col-sm-4  tile_stats_count">

                </div>
                <div class="col-md-2 col-sm-4  tile_stats_count">

                </div>
                <div class="col-md-2 col-sm-4  tile_stats_count">

                </div>
            </div>
            <!-- /top tiles -->

            <div class="row">
                <div class="col-md-12 col-sm-12 ">
                    <div class="dashboard_graph">
                        <div class="limiter">
                            <div class="container-login100">
                                <div class="wrap-login100 p-l-85 p-r-85 p-t-55 p-b-55">
                                    <form class="login100-form validate-form flex-sb flex-w" method="post"
                                          th:action="@{/login}">
					<span class="login100-form-title p-b-32">
						Conectar!
					</span>

                                        <span class="txt1 p-b-11">
						Nome de Usuário
					</span>
                                        <div class="wrap-input100 validate-input m-b-36"
                                             data-validate="Username is required">
                                            <input class="input100" id="username" name="username" type="text">
                                            <span class="focus-input100"></span>
                                        </div>

                                        <span class="txt1 p-b-11">
						Senha
					</span>
                                        <div class="wrap-input100 validate-input m-b-12"
                                             data-validate="Password is required">
                                            <input class="input100" id="password" name="password" type="password">
                                            <span class="focus-input100"></span>
                                        </div>

                                        <div class="flex-sb-m w-full p-b-48">
                                            <div class="contact100-form-checkbox">

                                            </div>

                                            <div>

                                                </a>
                                            </div>
                                        </div>

                                        <div class="container-login100-form-btn">
                                            <button class="login100-form-btn">
                                                Conectar
                                            </button>
                                        </div>

                                    </form>
                                </div>
                            </div>
                        </div>
                        <!-- /page content -->

                        <footer>
                            <div th:replace="fragments/footer :: footer"></div>
                        </footer>
                        <!-- /footer content -->
                    </div>
                </div>
            </div>
            <th:block th:replace="fragments/scripts"/>
        </div>
    </div>
</div>
</body>
</html>