<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

<head>
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>APAE - SANTOS DUMONT</title>

    <th:block th:replace="fragments/head"/>
</head>

<body class="nav-md">
<div class="container body">
    <div class="main_container">
        <div class="col-md-3 left_col">
            <div class="left_col scroll-view">
                <div class="navbar nav_title" style="border: 0;">
                    <a th:href="@{/welcome}" class="site_title">
                        <span>APAE-SD</span></a>
                </div>

                <div class="clearfix"></div>

                <br/>

                <!-- sidebar menu -->
                <div th:replace="fragments/sidebar"></div>
                <!-- /sidebar menu -->
            </div>
        </div>

        <!-- top navigation -->
        <div th:replace="fragments/navbar"></div>
        <!-- /top navigation -->

        <!-- page content -->
        <div class="right_col" role="main">
            <!-- top tiles -->

            <div class="tile_count">
                <div class="col-md-2 col-sm-4  tile_stats_count">

                </div>
                <div class="col-md-2 col-sm-4  tile_stats_count">

                </div>
                <div class="col-md-2 col-sm-4  tile_stats_count">

                </div>
                <div class="col-md-2 col-sm-4  tile_stats_count">

                </div>
                <div class="col-md-2 col-sm-4  tile_stats_count">

                </div>
                <div class="col-md-2 col-sm-4  tile_stats_count">

                </div>
            </div>

            <div class="right_col" role="main">
                <div class="">
                    <div class="page-title">
                        <div class="title_left">
                            <h3>Ficha de Produto</h3>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <div class="row">
                        <div class="col-md-12 col-sm-12">
                            <div class="x_panel">

                                <div class="x_content">
                                    <form class="form-horizontal form-label-left" method="post" novalidate
                                          th:action="@{'/aluno/view'}" th:object="${aluno}">
                                        <input th:field="*{id}" type="hidden"/>

                                        <div class="alert alert-danger" th:if="${#fields.hasAnyErrors()}">
                                            <div th:each="detailedError : ${#fields.detailedErrors()}">
                                                <span th:text="${detailedError.message}"></span>
                                            </div>
                                        </div>


                                        <div class="item form-group">
                                            <label class="col-form-label col-md-3 col-sm-3 label-align" for="nome">Nome <span
                                                    class="required">*</span>
                                            </label>
                                            <div class="col-md-6 col-sm-6">
                                                <input class="form-control" data-validate-minmax="6,32" id="nome" name="nome"
                                                       readonly required="required" th:field="*{nome}" type="text">
                                            </div>
                                        </div>
                                        <div class="item form-group">
                                            <label class="col-form-label col-md-3 col-sm-3 label-align" for="idade">Idade <span
                                                    class="required">*</span>
                                            </label>
                                            <div class="col-md-6 col-sm-6">
                                                <input class="form-control" id="idade" name="idade" readonly
                                                       required="required"
                                                       th:field="*{idade}" type="number">
                                            </div>
                                        </div>

                                        <div class="item form-group">
                                            <label class="col-form-label col-md-3 col-sm-3 label-align" for="sexoa">Sexo:<span
                                                    class="required">*</span>
                                            </label>
                                            <div class="col-md-6 col-sm-6">
                                                <select class="form-control" id="sexoa"
                                                        required="required"
                                                        th:field="*{sexo}" th:disabled="true">
                                                    <option value="Masculino">Masculino</option>
                                                    <option value="Feminino">Feminino</option>
                                                    <option value="Outro">Outro</option>
                                                </select>
                                            </div>
                                        </div>

                                        <div class="item form-group">
                                            <label class="col-form-label col-md-3 col-sm-3 label-align" for="dataNascimento">Data de
                                                Nascimento <span class="required">*</span>
                                            </label>
                                            <div class="col-md-6 col-sm-6">
                                                <input class="form-control" id="dataNascimento" name="dataNascimento"
                                                      readonly
                                                       required="required" th:field="*{dataNascimento}" type="text">
                                            </div>
                                        </div>
                                        <div class="item form-group">
                                            <label class="col-form-label col-md-3 col-sm-3 label-align" for="uf">UF<span
                                                    class="required">*</span>
                                            </label>
                                            <div class="col-md-6 col-sm-6">
                                                <input class="form-control" id="uf" name="uf" readonly required="required"
                                                       th:field="*{uf}" type="text">
                                            </div>
                                        </div>
                                        <div class="item form-group">
                                            <label class="col-form-label col-md-3 col-sm-3 label-align" for="cidade">Cidade<span
                                                    class="required">*</span>
                                            </label>
                                            <div class="col-md-6 col-sm-6">
                                                <input class="form-control" id="cidade" name="cidade" readonly
                                                       required="required"
                                                       th:field="*{cidade}" type="text">
                                            </div>
                                        </div>
                                        <div class="item form-group">
                                            <label class="col-form-label col-md-3 col-sm-3 label-align" for="rua">Rua<span class="required">*</span>
                                            </label>
                                            <div class="col-md-6 col-sm-6">
                                                <input class="form-control" id="rua" name="rua" readonly
                                                       required="required"
                                                       th:field="*{rua}" type="text">
                                            </div>
                                        </div>
                                        <div class="item form-group">
                                            <label class="col-form-label col-md-3 col-sm-3 label-align" for="numero">Número<span
                                                    class="required">*</span>
                                            </label>
                                            <div class="col-md-6 col-sm-6">
                                                <input class="form-control" id="numero" name="numero" readonly
                                                       required="required"
                                                       th:field="*{numero}" type="text">
                                            </div>
                                        </div>
                                        <div class="item form-group">
                                            <label class="col-form-label col-md-3 col-sm-3 label-align" for="bairro">Bairro<span
                                                    class="required">*</span>
                                            </label>
                                            <div class="col-md-6 col-sm-6">
                                                <input class="form-control" id="bairro" name="bairro" readonly
                                                       required="required"
                                                       th:field="*{bairro}" type="text">
                                            </div>
                                        </div>
                                        <div class="item form-group">
                                            <label class="col-form-label col-md-3 col-sm-3 label-align" for="cep">CEP<span class="required">*</span>
                                            </label>
                                            <div class="col-md-6 col-sm-6">
                                                <input class="form-control" id="cep" name="cep" readonly
                                                       required="required"
                                                       th:field="*{cep}" type="text">
                                            </div>
                                        </div>
                                        <div class="item form-group">
                                            <label class="col-form-label col-md-3 col-sm-3 label-align" for="telefone">Telefone<span
                                                    class="required">*</span>
                                            </label>
                                            <div class="col-md-6 col-sm-6">
                                                <input class="form-control" id="telefone" name="telefone" readonly
                                                       required="required"
                                                       th:field="*{telefone}" type="text">
                                            </div>
                                        </div>
                                        <div class="item form-group">
                                            <label class="col-form-label col-md-3 col-sm-3 label-align" for="celular">Celular<span
                                                    class="required">*</span>
                                            </label>
                                            <div class="col-md-6 col-sm-6">
                                                <input class="form-control" id="celular" name="celular" readonly
                                                       required="required"
                                                       th:field="*{celular}" type="text">
                                            </div>
                                        </div>

                                        <div class="item form-group">
                                            <label class="col-form-label col-md-3 label-align" for="mae">Mãe</label>
                                            <div class="col-md-6 col-sm-6">
                                                <input class="form-control" data-validate-length="6,32" id="mae" name="mae"
                                                      readonly required="required" th:field="*{mae}"
                                                       type="text">
                                            </div>
                                        </div>
                                        <div class="item form-group">
                                            <label class="col-form-label col-md-3 col-sm-3 label-align" for="pai">Pai<span
                                                    class="required">*</span>
                                            </label>
                                            <div class="col-md-6 col-sm-6">
                                                <input class="form-control" id="pai" name="pai"
                                                     readonly
                                                       required="required" th:field="*{pai}" type="text">
                                            </div>
                                        </div>
                                        <div class="item form-group">
                                            <label class="col-form-label col-md-3 col-sm-3 label-align" for="responsavel">Responsavel<span
                                                    class="required">*</span>
                                            </label>
                                            <div class="col-md-6 col-sm-6">
                                                <input class="form-control" id="responsavel" name="responsavel"
                                                       readonly
                                                       required="required" th:field="*{responsavel}" type="text">
                                            </div>
                                        </div>
                                        <div class="item form-group">
                                            <label class="col-form-label col-md-3 col-sm-3 label-align" for="descricao">Descrição<span
                                                    class="required">*</span>
                                            </label>
                                            <div class="col-md-6 col-sm-6">
                                                <input class="form-control" id="descricao" name="descricao"
                                                       readonly
                                                       required="required" th:field="*{descricao}" type="text">
                                            </div>
                                        </div>
                                        <div class="item form-group">
                                            <label class="col-form-label col-md-3 col-sm-3 label-align" for="status">Status <span
                                                    class="required">*</span>
                                            </label>
                                            <div class="col-md-6 col-sm-6">
                                                <p>
                                                    <label>Ativo:</label>
                                                    <input id="status" th:field="*{status}" th:value="${true}" type="radio" th:disabled="true"><br/>
                                                    <label>Inativo:</label>
                                                    <input id="status1" th:field="*{status}" th:value="${false}" type="radio" th:disabled="true">
                                                </p>
                                            </div>
                                        </div>

                                        <div class="ln_solid"></div>
                                        <div class="form-group">
                                            <div class="col-md-6 offset-md-3">
                                                <a class="btn btn-danger" th:href="@{/aluno/lista}">Cancelar</a>
                                                <a class="btn btn-success" th:href="@{/report/aluno}">Gerar Relatório
                                                    de Aluno</a>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <footer>
                <div th:replace="fragments/footer :: footer"></div>
            </footer>
            <!-- /footer content -->
        </div>
    </div>

    <!--scripts-->
    <th:block th:replace="fragments/scripts"/>
    <!-- /scripts-->
</div>
</body>
</html>