<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
>

<head>
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>APAE - SANTOS DUMONT</title>

    <th:block th:replace="fragments/head"/>
</head>

<body class="nav-md">
<div class="container body">
    <div class="main_container">
        <div class="col-md-3 left_col">
            <div class="left_col scroll-view">
                <div class="navbar nav_title" style="border: 0;">
                    <a class="site_title" th:href="@{/welcome}">
                        <span>APAE-SD</span></a>
                </div>

                <div class="clearfix"></div>

                <br/>

                <!-- sidebar menu -->
                <div th:replace="fragments/sidebar"></div>
                <!-- /sidebar menu -->
            </div>
        </div>

        <!-- top navigation -->
        <div th:replace="fragments/navbar"></div>
        <!-- /top navigation -->

        <!-- page content -->
        <div class="right_col" role="main">
            <!-- top tiles -->

            <div class="tile_count">
                <div class="col-md-2 col-sm-4  tile_stats_count">

                </div>
                <div class="col-md-2 col-sm-4  tile_stats_count">

                </div>
                <div class="col-md-2 col-sm-4  tile_stats_count">

                </div>
                <div class="col-md-2 col-sm-4  tile_stats_count">

                </div>
                <div class="col-md-2 col-sm-4  tile_stats_count">

                </div>
                <div class="col-md-2 col-sm-4  tile_stats_count">

                </div>
            </div>

            <div class="right_col" role="main">
                <div class="">
                    <div class="page-title">
                        <div class="title_left">
                            <h3>Ficha de Produto</h3>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <div class="row">
                        <div class="col-md-12 col-sm-12">
                            <div class="x_panel">

                                <div class="x_content">
                                    <form class="form-horizontal form-label-left" method="post" novalidate
                                          th:action="@{'/produto/view'}" th:object="${produto}">
                                        <input th:field="*{id}" type="hidden"/>

                                        <div class="alert alert-danger" th:if="${#fields.hasAnyErrors()}">
                                            <div th:each="detailedError : ${#fields.detailedErrors()}">
                                                <span th:text="${detailedError.message}"></span>
                                            </div>
                                        </div>


                                        <div class="item form-group">
                                            <label class="col-form-label col-md-3 col-sm-3 label-align" for="nomep">Nome
                                                <span
                                                        class="required">*</span>
                                            </label>
                                            <div class="col-md-6 col-sm-6">
                                                <input class="form-control" data-validate-minmax="6,32" id="nomep"
                                                       name="nomep"
                                                       readonly
                                                       th:field="*{nomeProduto}" type="text">
                                            </div>
                                        </div>
                                        <div class="item form-group">
                                            <label class="col-form-label col-md-3 col-sm-3 label-align"
                                                   for="quantidade">Quantidade <span
                                                    class="required">*</span>
                                            </label>
                                            <div class="col-md-6 col-sm-6">
                                                <input class="form-control" id="quantidade" name="quantidade"
                                                       readonly
                                                       required="required"
                                                       step="any" th:field="*{quantidade}" type="number">
                                            </div>
                                        </div>

                                        <div class="item form-group">
                                            <label class="col-form-label col-md-3 col-sm-3 label-align"
                                                   for="unidadeMedida">Unidade de medida<span
                                                    class="required">*</span>
                                            </label>
                                            <div class="col-md-6 col-sm-6">
                                                <input class="form-control" id="unidadeMedida" name="unidadeMedida"
                                                       readonly
                                                       th:field="*{tipoQuantidade}" type="text">
                                            </div>
                                        </div>
                                        <div class="item form-group">
                                            <label class="col-form-label col-md-3 col-sm-3 label-align" for="descricao">Descrição<span
                                                    class="required">*</span>
                                            </label>
                                            <div class="col-md-6 col-sm-6">
                                                <input class="form-control" id="descricao" name="descricao"
                                                       readonly
                                                       required="required"
                                                       th:field="*{descricao}" type="text">
                                            </div>
                                        </div>
                                        <div class="item form-group">
                                            <label class="col-form-label col-md-3 col-sm-3 label-align" for="combotipo">Tipo
                                                de Produto <span
                                                        class="required">*</span>
                                            </label>
                                            <div class="col-md-6 col-sm-6">
                                                <select class="form-control" id="combotipo" required="required"
                                                        th:disabled="true" th:field="*{tipoProduto}">
                                                    <option value="Não Perecível">Não Perecível</option>
                                                    <option value="Perecível">Perecível</option>
                                                </select>
                                            </div>
                                        </div>

                                        <div class="ln_solid"></div>
                                        <div class="form-group">
                                            <div class="col-md-6 offset-md-3">
                                                <a class="btn btn-danger" th:href="@{/produto/lista}">Cancelar</a>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <footer>
                <div th:replace="fragments/footer :: footer"></div>
            </footer>
            <!-- /footer content -->
        </div>
    </div>

    <!--scripts-->
    <th:block th:replace="fragments/scripts"/>
    <!-- /scripts-->
</div>
</body>
</html>