<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

<head>
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>APAE - SANTOS DUMONT</title>

    <th:block th:replace="fragments/head"/>
</head>

<body class="nav-md">
<div class="container body">
    <div class="main_container">
        <div class="col-md-3 left_col">
            <div class="left_col scroll-view">
                <div class="navbar nav_title" style="border: 0;">
                    <a th:href="@{/welcome}" class="site_title">
                        <span>APAE-SD</span></a>
                </div>

                <div class="clearfix"></div>

                <br/>

                <!-- sidebar menu -->
                <div th:replace="fragments/sidebar"></div>
                <!-- /sidebar menu -->
            </div>
        </div>

        <!-- top navigation -->
        <div th:replace="fragments/navbar"></div>
        <!-- /top navigation -->

        <!-- page content -->
        <div class="right_col" role="main">
            <!-- top tiles -->

            <div class="tile_count">
                <div class="col-md-2 col-sm-4  tile_stats_count">

                </div>
                <div class="col-md-2 col-sm-4  tile_stats_count">

                </div>
                <div class="col-md-2 col-sm-4  tile_stats_count">

                </div>
                <div class="col-md-2 col-sm-4  tile_stats_count">

                </div>
                <div class="col-md-2 col-sm-4  tile_stats_count">

                </div>
                <div class="col-md-2 col-sm-4  tile_stats_count">

                </div>
            </div>

            <div class="right_col" role="main">
                <div class="">
                    <div class="page-title">
                        <div class="title_left">
                            <h3>Ficha de Linha Semanal de Psicologia</h3>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <div class="row">
                        <div class="col-md-12 col-sm-12">
                            <div class="x_panel">

                                <div class="x_content">
                                    <form class="form-horizontal form-label-left" method="post" novalidate
                                          th:action="@{'/linhasemanal/view'}" th:object="${linhasemanal}">
                                        <input th:field="*{id}" type="hidden"/>

                                        <div class="alert alert-danger" th:if="${#fields.hasAnyErrors()}">
                                            <div th:each="detailedError : ${#fields.detailedErrors()}">
                                                <span th:text="${detailedError.message}"></span>
                                            </div>
                                        </div>


                                        <div class="item form-group">
                                            <label class="col-form-label col-md-3 col-sm-3 label-align"
                                                   for="comboAluno">Aluno:<span
                                                    class="required">*</span>
                                            </label>
                                            <div class="col-md-6 col-sm-6">
                                                <select class="form-control" id="comboAluno" required="required"
                                                        th:field="*{aluno}" th:disabled="true">
                                                    <option th:each="aluno : ${tiposAlunos}"
                                                            th:text="${aluno.nome}"
                                                            th:value="${aluno.id}"></option>
                                                </select>
                                            </div>
                                        </div>

                                        <div class="item form-group">
                                            <label class="col-form-label col-md-3 col-sm-3 label-align"
                                                   for="comboAluno">Psicologa:<span
                                                    class="required">*</span>
                                            </label>
                                            <div class="col-md-6 col-sm-6">
                                                <select class="form-control" id="comboPsicologa" required="required"
                                                        th:field="*{usuario}" th:disabled="true">
                                                    <option th:each="usuario : ${tiposUsuarios}"
                                                            th:text="${usuario.nome}"
                                                            th:value="${usuario.id}"></option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="item form-group">
                                            <label class="col-form-label col-md-3 col-sm-3 label-align"
                                                   for="dataLinhaSemanal">Data Linha Semanal:<span
                                                    class="required">*</span>
                                            </label>
                                            <div class="col-md-6 col-sm-6">
                                                <input class="form-control" id="dataLinhaSemanal"
                                                       th:disabled="true" th:field="*{dataLinhaSemanal}" type="date">
                                            </div>
                                        </div>

                                        <div class="item form-group">
                                            <label class="col-form-label col-md-3 col-sm-3 label-align"
                                                   for="resultado">Resultado:<span
                                                    class="required">*</span>
                                            </label>
                                            <div class="col-md-6 col-sm-6">
                                                <input class="form-control" id="resultado"
                                                       th:disabled="true"  th:field="*{descricao}" type="text">
                                            </div>
                                        </div>

                                        <div class="ln_solid"></div>
                                        <div class="form-group">
                                            <div class="col-md-6 offset-md-3">
                                                <a class="btn btn-danger" th:href="@{/linhasemanal/lista}">Voltar</a>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <footer>
                <div th:replace="fragments/footer :: footer"></div>
            </footer>
            <!-- /footer content -->
        </div>
    </div>

    <!--scripts-->
    <th:block th:replace="fragments/scripts"/>
    <!-- /scripts-->
</div>
</body>
</html>